Repository VKCOM/VKUI, pull requests merged in 2024-08, with the labels that each got.

#7237 feat(FixedLayout): add Component prop to FixedLayout
  packages/vkui/src/components/FixedLayout/FixedLayout.tsx
  packages/vkui/src/components/OnboardingTooltip/OnboardingTooltipContainer.tsx
Labels: pr-needs-work

#7278 fix(List): avoid Cell content to overflow parent
  packages/vkui/src/components/List/List.e2e-playground.tsx
  packages/vkui/src/components/List/List.e2e.tsx
  packages/vkui/src/components/List/List.module.css
  packages/vkui/src/components/List/__image_snapshots__/list-android-chromium-dark-1-snap.png
  packages/vkui/src/components/List/__image_snapshots__/list-android-chromium-light-1-snap.png
  packages/vkui/src/components/List/__image_snapshots__/list-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/List/__image_snapshots__/list-ios-webkit-light-1-snap.png
  packages/vkui/src/components/List/__image_snapshots__/list-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/List/__image_snapshots__/list-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/List/__image_snapshots__/list-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/List/__image_snapshots__/list-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/List/__image_snapshots__/list-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/List/__image_snapshots__/list-vkcom-webkit-light-1-snap.png
Labels: type:bug, patch, cmp:list

#7276 fix(ChipsSelect/CustomSelect): Change key back to option.value
  packages/vkui/src/components/ChipsInputBase/ChipsInputBase.tsx
  packages/vkui/src/components/ChipsSelect/ChipsSelect.tsx
  packages/vkui/src/components/CustomSelect/CustomSelect.tsx
Labels: type:bug, cmp:chips-select, cmp:chips-input, patch

#7264 fix(FormField): Remove fixed height from before/after on desktop
  packages/vkui/src/components/FormField/FormField.module.css
  packages/vkui/src/components/Textarea/Textarea.e2e-playground.tsx
  packages/vkui/src/components/Textarea/__image_snapshots__/textarea-android-chromium-dark-1-snap.png
  packages/vkui/src/components/Textarea/__image_snapshots__/textarea-android-chromium-light-1-snap.png
  packages/vkui/src/components/Textarea/__image_snapshots__/textarea-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/Textarea/__image_snapshots__/textarea-ios-webkit-light-1-snap.png
  packages/vkui/src/components/Textarea/__image_snapshots__/textarea-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Textarea/__image_snapshots__/textarea-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Textarea/__image_snapshots__/textarea-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/Textarea/__image_snapshots__/textarea-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Textarea/__image_snapshots__/textarea-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/Textarea/__image_snapshots__/textarea-vkcom-webkit-light-1-snap.png
Labels: type:feature, cmp:form-field

#7247 build(deps-dev): Bump eslint-*
  package.json
  yarn.lock
Labels: technical task

#7280 feat: prepare components to tests coverage
  packages/vkui/src/components/Alert/Alert.tsx
  packages/vkui/src/components/Avatar/Avatar.tsx
  packages/vkui/src/components/Avatar/AvatarBadge/icons.tsx
  packages/vkui/src/components/CalendarRange/CalendarRange.tsx
  packages/vkui/src/components/ChipsInput/ChipsInput.tsx
  packages/vkui/src/components/ChipsInputBase/helpers.ts
  packages/vkui/src/components/ChipsInputBase/types.ts
  packages/vkui/src/components/ChipsSelect/ChipsSelect.tsx
  packages/vkui/src/components/Clickable/useState.tsx
  packages/vkui/src/components/CustomSelect/CustomSelect.tsx
  packages/vkui/src/components/FixedLayout/FixedLayout.tsx
  packages/vkui/src/components/GridAvatar/GridAvatar.tsx
  packages/vkui/src/components/HorizontalScroll/HorizontalScroll.tsx
  packages/vkui/src/components/Image/Image.tsx
  packages/vkui/src/components/ImageBase/validators.ts
Labels: cmp:avatar, cmp:alert, cmp:fixed-layout, cmp:horizontal-scroll, cmp:chips-select, cmp:custom-select, cmp:chips-input, cmp:calendar

#7281 feat(CustomScrollView): improve customScrollView code
  packages/vkui/src/components/CustomScrollView/useDetectScrollDirection.ts
  packages/vkui/src/components/CustomScrollView/useVerticalScrollController.tsx
Labels: technical task, cmp:custom-scroll-view

#7329 feat(FlexItem): make props optional + extend flexBasis types
  packages/vkui/src/components/Flex/FlexItem/FlexItem.tsx
Labels: cmp:flex-item

#7330 feat(CellButton): use themed color
  packages/vkui/src/components/CellButton/CellButton.module.css
  packages/vkui/src/components/CellButton/__image_snapshots__/cellbutton-android-chromium-dark-1-snap.png
  packages/vkui/src/components/CellButton/__image_snapshots__/cellbutton-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/CellButton/__image_snapshots__/cellbutton-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/CellButton/__image_snapshots__/cellbutton-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/CellButton/__image_snapshots__/cellbutton-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/CellButton/__image_snapshots__/cellbutton-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/CellButton/__image_snapshots__/cellbutton-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/CellButton/__image_snapshots__/cellbutton-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/FormItem/__image_snapshots__/formitem-android-chromium-dark-1-snap.png
  packages/vkui/src/components/FormItem/__image_snapshots__/formitem-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/FormItem/__image_snapshots__/formitem-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/FormItem/__image_snapshots__/formitem-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/FormItem/__image_snapshots__/formitem-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/FormItem/__image_snapshots__/formitem-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/FormItem/__image_snapshots__/formitem-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/FormItem/__image_snapshots__/formitem-vkcom-webkit-light-1-snap.png
Labels: cmp:cell-button

#7323 test(Cell): improve unit-tests coverage
  packages/vkui/src/components/Cell/Cell.test.tsx
  packages/vkui/src/components/Cell/CellCheckbox/CellCheckbox.test.tsx
  packages/vkui/src/components/CellButton/CellButton.test.tsx
  packages/vkui/src/components/SimpleCell/SimpleCell.test.tsx
Labels: cmp:cell, technical task, cmp:simple-cell, cmp:cell-button

#7327 fix(Cell): fix offset when no before
  packages/vkui/src/components/Cell/Cell.e2e-playground.tsx
  packages/vkui/src/components/Cell/Cell.module.css
  packages/vkui/src/components/Cell/Cell.tsx
  packages/vkui/src/components/Cell/__image_snapshots__/cell-android-chromium-dark-1-snap.png
  packages/vkui/src/components/Cell/__image_snapshots__/cell-android-chromium-light-1-snap.png
  packages/vkui/src/components/Cell/__image_snapshots__/cell-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/Cell/__image_snapshots__/cell-ios-webkit-light-1-snap.png
  packages/vkui/src/components/Cell/__image_snapshots__/cell-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Cell/__image_snapshots__/cell-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Cell/__image_snapshots__/cell-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/Cell/__image_snapshots__/cell-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Cell/__image_snapshots__/cell-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/Cell/__image_snapshots__/cell-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/FormItem/__image_snapshots__/formitem-android-chromium-dark-1-snap.png
  packages/vkui/src/components/FormItem/__image_snapshots__/formitem-android-chromium-light-1-snap.png
  packages/vkui/src/components/FormItem/__image_snapshots__/formitem-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/FormItem/__image_snapshots__/formitem-ios-webkit-light-1-snap.png
  packages/vkui/src/components/FormItem/__image_snapshots__/formitem-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/FormItem/__image_snapshots__/formitem-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/FormItem/__image_snapshots__/formitem-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/FormItem/__image_snapshots__/formitem-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/FormItem/__image_snapshots__/formitem-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/FormItem/__image_snapshots__/formitem-vkcom-webkit-light-1-snap.png
Labels: cmp:cell

#7322 test(FixedLayout): improve unit-tests coverage
  packages/vkui/src/components/FixedLayout/FixedLayout.test.tsx
Labels: technical task, cmp:fixed-layout

#7321 test(Skeleton): improve unit-tests coverage
  packages/vkui/src/components/Skeleton/Skeleton.test.tsx
Labels: technical task, cmp:skeleton

#7316 test(Pagination): improve tests coverage
  packages/vkui/src/components/Pagination/Pagination.test.tsx
  packages/vkui/src/components/Pagination/PaginationNavigationButton/PaginationNavigationButton.tsx
  packages/vkui/src/components/Pagination/PaginationPage/PaginationPageButton.tsx
Labels: technical task, cmp:pagination

#7315 test(Avatar): improve tests coverage
  packages/vkui/src/components/Avatar/Avatar.test.tsx
  packages/vkui/src/components/GridAvatar/GridAvatar.test.tsx
Labels: cmp:avatar, technical task, cmp:grid-avatar

#7314 test(Image): improve tests coverage
  packages/vkui/src/components/Image/Image.test.tsx
  packages/vkui/src/components/ImageBase/ImageBase.test.tsx
Labels: technical task, cmp:image-base, cmp:image

#7313 test(CustomScrollView): improve tests coverage
  packages/vkui/src/components/CustomScrollView/CustomScrollView.test.tsx
Labels: technical task, cmp:custom-scroll-view

#7312 test(Calendar): improve tests coverage
  packages/vkui/src/components/Calendar/Calendar.test.tsx
  packages/vkui/src/components/CalendarDay/CalendarDay.test.tsx
  packages/vkui/src/components/CalendarHeader/CalendarHeader.test.tsx
  packages/vkui/src/components/CalendarRange/CalendarRange.test.tsx
  packages/vkui/src/components/CalendarRange/CalendarRange.tsx
  packages/vkui/src/components/CalendarTime/CalendarTime.test.tsx
Labels: technical task, cmp:calendar, cmp:calendar-range

#7311 test(DropZone): improve tests coverage
  packages/vkui/src/components/DropZone/DropZone.test.tsx
Labels: technical task, cmp:drop-zone

#7310 test(ChipsInput): improve tests coverage
  packages/vkui/src/components/ChipsInput/ChipsInput.test.tsx
Labels: technical task, cmp:chips-input

#7309 test(DateRangeInput): improve tests coverage
  packages/vkui/src/components/DateRangeInput/DateRangeInput.test.tsx
Labels: technical task, cmp:date-range-input

#7306 test(list): improve unit-tests coverage
  packages/vkui/src/components/List/List.test.tsx
Labels: technical task, cmp:list

#7338 fix(CalendarTimes): Fix functions import from date-fns in test file
  packages/vkui/src/components/CalendarTime/CalendarTime.test.tsx
Labels: technical task

#7337 test(Alert): improve unit-tests coverage
  packages/vkui/src/components/Alert/Alert.test.tsx
Labels: cmp:alert, technical task

#7304 test(Gallery): improve unit-tests coverage
  packages/vkui/src/components/BaseGallery/BaseGallery.tsx
  packages/vkui/src/components/BaseGallery/CarouselBase/helpers.test.ts
  packages/vkui/src/components/BaseGallery/CarouselBase/helpers.ts
  packages/vkui/src/components/BaseGallery/CarouselBase/hooks.test.ts
  packages/vkui/src/components/BaseGallery/helpers.ts
  packages/vkui/src/components/Gallery/Gallery.test.tsx
  packages/vkui/src/components/Gallery/hooks.test.ts
Labels: cmp:gallery, technical task

#7333 test: improve unit-tests coverage in Flex, Group, SimpleGrid
  packages/vkui/src/components/Flex/Flex.test.tsx
  packages/vkui/src/components/Group/Group.test.tsx
  packages/vkui/src/components/SimpleGrid/SimpleGrid.test.tsx
Labels: technical task, cmp:group, cmp:flex

#7332 test(Tabs): improve unit-tests coverage
  packages/vkui/src/components/Tabs/Tabs.test.tsx
  packages/vkui/src/components/TabsItem/TabsItem.test.tsx
Labels: cmp:tabs, technical task, cmp:tabs-item

#7308 test(DateInput): improve tests coverage
  packages/vkui/src/components/DateInput/DateInput.test.tsx
Labels: technical task, cmp:date-input

#7345 fix(Group): add missed CSS class for `sizeX="regular"`
  packages/vkui/src/components/Group/Group.test.tsx
  packages/vkui/src/components/Group/Group.tsx
Labels: type:bug, cmp:group, patch

#7348 docs(ModalRoot): ButtonGroup gap
  packages/vkui/src/components/ModalRoot/Readme.md
Labels: patch

#7350 docs: move anchor links to the right
  styleguide/Components/SectionSubheading/SectionSubheading.css
  styleguide/Components/SectionSubheading/SectionSubheading.js
Labels: patch

#7354 build: fix CSS source-map for postcss >= 8.4.33
  package.json
  packages/vkui/scripts/postcss.js
  packages/vkui/webpack.styles.config.js
  yarn.lock
Labels: type:bug, technical task

#7356 test(Search): improve unit-tests coverage
  packages/vkui/src/components/Search/Search.test.tsx
Labels: cmp:search, technical task

#7377 tech(dependabot.yml): extend playwright patterns
  .github/dependabot.yml
Labels: dependencies, technical task

#7352 test(Checkbox): improve unit-tests coverage
  packages/vkui/src/components/Checkbox/Checkbox.test.tsx
Labels: cmp:checkbox, technical task

#7376 a11y(WriteBar): add onClick to add interactivity
  packages/vkui/src/components/WriteBar/WriteBar.stories.tsx
  packages/vkui/src/components/WriteBarIcon/WriteBarIcon.stories.tsx
Labels: patch

#7390 fix(Clickable): more Components in checkClickable
  packages/vkui/src/components/Button/Button.tsx
  packages/vkui/src/components/Cell/Cell.tsx
  packages/vkui/src/components/ChipsInputBase/Chip/Chip.tsx
  packages/vkui/src/components/Clickable/Clickable.tsx
  packages/vkui/src/components/FormItem/FormItem.tsx
  packages/vkui/src/components/FormLayoutGroup/FormLayoutGroup.tsx
  packages/vkui/src/components/Link/Link.tsx
  packages/vkui/src/components/Removable/Removable.tsx
  packages/vkui/src/components/Search/Search.tsx
  packages/vkui/src/components/Snackbar/Snackbar.tsx
  packages/vkui/src/components/ToolButton/ToolButton.tsx
Labels: type:bug, patch, cmp:clickable

#7342 feat(ImageBase): remove position: absolute & update docs example
  packages/vkui/src/components/Image/Readme.md
  packages/vkui/src/components/ImageBase/ImageBase.module.css
  packages/vkui/src/styles/constants.css
Labels: type:bug, cmp:image-base, cmp:image

#7406 fix(FlexItem): edit flex prop description
  packages/vkui/src/components/Flex/FlexItem/FlexItem.tsx
Labels: type:bug, docs, patch, cmp:flex-item

#7344 test(ModalRoot): improve unit-tests coverage
  packages/vkui/src/components/ModalRoot/ModalRoot.test.tsx
  packages/vkui/src/components/ModalRoot/ModalRootAdaptive.test.tsx
  packages/vkui/src/components/ModalRoot/constants.ts
  packages/vkui/src/components/ModalRoot/useModalManager.test.tsx
  packages/vkui/src/components/ModalRoot/withModalRootContext.test.tsx
  packages/vkui/src/components/ModalRoot/withModalRootContext.tsx
Labels: technical task, cmp:modal-root

#7355 test(Placeholder): improve unit-tests coverage
  packages/vkui/src/components/Placeholder/Placeholder.test.tsx
Labels: technical task, cmp:placeholder

#7307 test(CustomSelect): improve unit-tests coverage
  packages/vkui/src/components/CustomSelect/CustomSelect.test.tsx
  packages/vkui/src/components/CustomSelect/CustomSelectInput.test.tsx
  packages/vkui/src/components/CustomSelectDropdown/CustomSelectDropdown.test.tsx
  packages/vkui/src/components/CustomSelectDropdown/CustomSelectDropdown.tsx
Labels: technical task, cmp:custom-select, cmp:custom-select-dropdown, pr-needs-work

#7405 fix(Cell): rework disabled prop
  packages/vkui/src/components/Cell/Cell.module.css
  packages/vkui/src/components/Cell/Cell.test.tsx
  packages/vkui/src/components/Cell/Cell.tsx
  packages/vkui/src/components/Removable/Removable.module.css
  packages/vkui/src/components/Removable/Removable.tsx
  packages/vkui/src/components/SimpleCell/SimpleCell.e2e-playground.tsx
  packages/vkui/src/components/SimpleCell/SimpleCell.module.css
  packages/vkui/src/components/SimpleCell/SimpleCell.test.tsx
  packages/vkui/src/components/SimpleCell/SimpleCell.tsx
  packages/vkui/src/components/SimpleCell/__image_snapshots__/simplecell-android-chromium-dark-1-snap.png
  packages/vkui/src/components/SimpleCell/__image_snapshots__/simplecell-android-chromium-light-1-snap.png
  packages/vkui/src/components/SimpleCell/__image_snapshots__/simplecell-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/SimpleCell/__image_snapshots__/simplecell-ios-webkit-light-1-snap.png
  packages/vkui/src/components/SimpleCell/__image_snapshots__/simplecell-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/SimpleCell/__image_snapshots__/simplecell-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/SimpleCell/__image_snapshots__/simplecell-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/SimpleCell/__image_snapshots__/simplecell-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/SimpleCell/__image_snapshots__/simplecell-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/SimpleCell/__image_snapshots__/simplecell-vkcom-webkit-light-1-snap.png
Labels: patch

#7394 fix(ActionSheet): add a11y documentation for ActionSheetItem
  packages/vkui/src/components/ActionSheet/ActionSheet.stories.tsx
  packages/vkui/src/components/ActionSheet/Readme.md
  packages/vkui/src/components/ActionSheetItem/Readme.md
Labels: patch

#7346 doc(CustomScrollView): use iframe to show documentation
  packages/vkui/src/components/CustomScrollView/Readme.md
Labels: type:bug, docs, cmp:custom-scroll-view, patch

#7235 fix(CustomSelect): a11y allow NVDA to read selected option
  packages/vkui/src/components/CustomSelect/CustomSelect.stories.tsx
  packages/vkui/src/components/CustomSelect/CustomSelect.test.tsx
  packages/vkui/src/components/CustomSelect/CustomSelect.tsx
  packages/vkui/src/components/CustomSelect/CustomSelectInput.module.css
  packages/vkui/src/components/CustomSelect/CustomSelectInput.tsx
  packages/vkui/src/components/CustomSelect/__image_snapshots__/customselect-android-chromium-dark-1-snap.png
  packages/vkui/src/components/CustomSelect/__image_snapshots__/customselect-android-chromium-light-1-snap.png
  packages/vkui/src/components/CustomSelect/__image_snapshots__/customselect-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/CustomSelect/__image_snapshots__/customselect-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/CustomSelect/__image_snapshots__/customselect-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/CustomSelect/__image_snapshots__/customselect-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/CustomSelect/__image_snapshots__/customselect-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/CustomSelect/__image_snapshots__/customselect-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/CustomSelect/helpers.tsx
  packages/vkui/src/components/CustomSelect/types.ts
  packages/vkui/src/components/SelectTypography/SelectTypography.tsx
Labels: patch

#7408 fix: remove maxHeight props from DateRangeInput, DateInput and CustomSelect
  packages/vkui/src/components/CustomSelect/CustomSelect.tsx
  packages/vkui/src/components/CustomSelect/CustomSelectInput.tsx
  packages/vkui/src/components/DateInput/DateInput.tsx
  packages/vkui/src/components/DateRangeInput/DateRangeInput.tsx
  packages/vkui/src/components/Select/Select.tsx
Labels: cmp:custom-select, cmp:date-input, cmp:date-range-input, patch

#7411 fix: add permissions to issues and pull requests write
  .github/workflows/pull_request_common.yml
Labels: technical task, patch, github_actions

#7410 tech(dependabot.yml): fix playwright patterns order
  .github/dependabot.yml
Labels: dependencies, technical task

#7285 fix(useCustomEnsuredControl): Update useCustomEnsuredControl types to reveal prevValue undefined
  packages/vkui/src/hooks/useEnsuredControl.ts
  packages/vkui/src/lib/floating/useFloatingWithInteractions/useFloatingWithInteractions.ts
Labels: patch

#7389 feat: add pressets to storybook props
  packages/vkui/src/components/ActionSheetItem/ActionSheetItem.stories.tsx
  packages/vkui/src/components/Banner/Banner.stories.tsx
  packages/vkui/src/components/Button/Button.stories.tsx
  packages/vkui/src/components/Cell/Cell.stories.tsx
  packages/vkui/src/components/CellButton/CellButton.stories.tsx
  packages/vkui/src/components/ChipsInput/ChipsInput.stories.tsx
  packages/vkui/src/components/ChipsInputBase/Chip/Chip.stories.tsx
  packages/vkui/src/components/ChipsSelect/ChipsSelect.stories.tsx
  packages/vkui/src/components/CustomSelect/CustomSelect.stories.tsx
  packages/vkui/src/components/CustomSelectOption/CustomSelectOption.stories.tsx
  packages/vkui/src/components/DateInput/DateInput.stories.tsx
  packages/vkui/src/components/DateRangeInput/DateRangeInput.stories.tsx
  packages/vkui/src/components/File/File.stories.tsx
  packages/vkui/src/components/FormField/FormField.stories.tsx
  packages/vkui/src/components/Group/Group.stories.tsx
  packages/vkui/src/components/Header/Header.stories.tsx
  packages/vkui/src/components/HorizontalCell/HorizontalCell.stories.tsx
  packages/vkui/src/components/Input/Input.stories.tsx
  packages/vkui/src/components/MiniInfoCell/MiniInfoCell.stories.tsx
  packages/vkui/src/components/ModalCardBase/ModalCardBase.stories.tsx
  packages/vkui/src/components/NativeSelect/NativeSelect.stories.tsx
  packages/vkui/src/components/Radio/Radio.stories.tsx
  packages/vkui/src/components/RichCell/RichCell.stories.tsx
  packages/vkui/src/components/Select/Select.stories.tsx
  packages/vkui/src/components/SelectMimicry/SelectMimicry.stories.tsx
  packages/vkui/src/components/SimpleCell/SimpleCell.stories.tsx
  packages/vkui/src/components/Snackbar/Snackbar.stories.tsx
  packages/vkui/src/components/SubnavigationButton/SubnavigationButton.stories.tsx
  packages/vkui/src/components/TabbarItem/TabbarItem.stories.tsx
  packages/vkui/src/components/Tabs/Tabs.stories.tsx
  packages/vkui/src/components/TabsItem/TabsItem.stories.tsx
  packages/vkui/src/components/Textarea/Textarea.stories.tsx
  packages/vkui/src/storybook/Icons.tsx
  packages/vkui/src/testing/presets/createFieldWithPresets.tsx
  packages/vkui/src/testing/presets/getFormFieldIconsPresets.tsx
  packages/vkui/src/testing/presets/index.ts
Labels: type:feature, docs, technical task

#7424 docs(Chip): add docs page
  packages/vkui/src/components/ChipsInputBase/Chip/Readme.md
  styleguide/config.js
Labels: patch

#7378 fix(Footer): Add a11y documentation for the Footer component and use role=contentinfo by default
  packages/vkui/src/components/Footer/Footer.stories.tsx
  packages/vkui/src/components/Footer/Footer.test.tsx
  packages/vkui/src/components/Footer/Footer.tsx
  packages/vkui/src/components/Footer/Readme.md
Labels: patch

#7422 fix(Search): clear button not disabled
  packages/vkui/src/components/Search/Search.tsx
Labels: patch

#7419 fix(CustomSelect): Fix input borders when CustomSelectDropdown is opened
  packages/vkui/src/components/ChipsSelect/ChipsSelect.test.tsx
  packages/vkui/src/components/ChipsSelect/ChipsSelect.tsx
  packages/vkui/src/components/CustomSelect/CustomSelect.test.tsx
  packages/vkui/src/components/CustomSelect/CustomSelect.tsx
  packages/vkui/src/components/CustomSelectDropdown/CustomSelectDropdown.tsx
Labels: patch

#7425 fix(Input, FormField): Keep error/valid state colors on hover
  packages/vkui/src/components/FormField/FormField.module.css
  packages/vkui/src/components/Input/Input.e2e-playground.tsx
  packages/vkui/src/components/Input/__image_snapshots__/input-android-chromium-dark-1-snap.png
  packages/vkui/src/components/Input/__image_snapshots__/input-android-chromium-light-1-snap.png
  packages/vkui/src/components/Input/__image_snapshots__/input-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/Input/__image_snapshots__/input-ios-webkit-light-1-snap.png
  packages/vkui/src/components/Input/__image_snapshots__/input-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Input/__image_snapshots__/input-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Input/__image_snapshots__/input-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/Input/__image_snapshots__/input-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Input/__image_snapshots__/input-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/Input/__image_snapshots__/input-vkcom-webkit-light-1-snap.png
Labels: type:bug, cmp:input, cmp:form-field, patch

#7430 fix(RootComponent): support hidden
  packages/vkui/src/components/RootComponent/RootComponent.e2e-playground.tsx
  packages/vkui/src/components/RootComponent/RootComponent.e2e.tsx
  packages/vkui/src/components/RootComponent/RootComponent.module.css
  packages/vkui/src/components/RootComponent/RootComponent.tsx
  packages/vkui/src/components/RootComponent/__image_snapshots__/rootcomponent-android-chromium-dark-1-snap.png
  packages/vkui/src/components/RootComponent/__image_snapshots__/rootcomponent-android-chromium-light-1-snap.png
  packages/vkui/src/components/RootComponent/__image_snapshots__/rootcomponent-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/RootComponent/__image_snapshots__/rootcomponent-ios-webkit-light-1-snap.png
  packages/vkui/src/components/RootComponent/__image_snapshots__/rootcomponent-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/RootComponent/__image_snapshots__/rootcomponent-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/RootComponent/__image_snapshots__/rootcomponent-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/RootComponent/__image_snapshots__/rootcomponent-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/RootComponent/__image_snapshots__/rootcomponent-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/RootComponent/__image_snapshots__/rootcomponent-vkcom-webkit-light-1-snap.png
Labels: type:bug, patch

#7435 ci(update_screens): add contents write permission
  .github/workflows/update_screens.yml
Labels: patch

#7447 fix(links): updated the website of React
  packages/vkui/src/hooks/useIsClient.ts
  styleguide/pages/quick_start.md
  styleguide/pages/utils.md
Labels: docs, patch

#7426 fix(Flex): add margin auto offset
  packages/vkui/src/components/Flex/Flex.e2e-playground.tsx
  packages/vkui/src/components/Flex/__image_snapshots__/flex-rendering-android-chromium-light-1-snap.png
  packages/vkui/src/components/Flex/__image_snapshots__/flex-rendering-ios-webkit-light-1-snap.png
  packages/vkui/src/components/Flex/__image_snapshots__/flex-rendering-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Flex/__image_snapshots__/flex-rendering-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Flex/__image_snapshots__/flex-rendering-vkcom-webkit-light-1-snap.png
  packages/vkui/src/styles/constants.css
Labels: type:bug, patch, cmp:flex

#7459 fix(Search): mv type="text" to type="search"
  packages/vkui/src/components/Search/Readme.md
Labels: docs, cmp:search, patch

#7457 test(ScreenSpinner): add screenshot tests to component
  packages/vkui/src/components/ScreenSpinner/ScreenSpinner.e2e-playground.tsx
  packages/vkui/src/components/ScreenSpinner/ScreenSpinner.e2e.tsx
  packages/vkui/src/components/ScreenSpinner/__image_snapshots__/screenspinner-android-chromium-dark-1-snap.png
  packages/vkui/src/components/ScreenSpinner/__image_snapshots__/screenspinner-android-chromium-light-1-snap.png
  packages/vkui/src/components/ScreenSpinner/__image_snapshots__/screenspinner-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/ScreenSpinner/__image_snapshots__/screenspinner-ios-webkit-light-1-snap.png
  packages/vkui/src/components/ScreenSpinner/__image_snapshots__/screenspinner-state-error-android-chromium-dark-1-snap.png
  packages/vkui/src/components/ScreenSpinner/__image_snapshots__/screenspinner-state-error-android-chromium-light-1-snap.png
  packages/vkui/src/components/ScreenSpinner/__image_snapshots__/screenspinner-state-error-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/ScreenSpinner/__image_snapshots__/screenspinner-state-error-ios-webkit-light-1-snap.png
  packages/vkui/src/components/ScreenSpinner/__image_snapshots__/screenspinner-state-error-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/ScreenSpinner/__image_snapshots__/screenspinner-state-error-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/ScreenSpinner/__image_snapshots__/screenspinner-state-error-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/ScreenSpinner/__image_snapshots__/screenspinner-state-error-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/ScreenSpinner/__image_snapshots__/screenspinner-state-error-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/ScreenSpinner/__image_snapshots__/screenspinner-state-error-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/ScreenSpinner/__image_snapshots__/screenspinner-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/ScreenSpinner/__image_snapshots__/screenspinner-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/ScreenSpinner/__image_snapshots__/screenspinner-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/ScreenSpinner/__image_snapshots__/screenspinner-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/ScreenSpinner/__image_snapshots__/screenspinner-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/ScreenSpinner/__image_snapshots__/screenspinner-vkcom-webkit-light-1-snap.png
Labels: technical task, cmp:screen-spinner

#7343 test(CardsScroll): improve unit-tests coverage
  packages/vkui/src/components/CardScroll/CardScroll.test.tsx
  packages/vkui/src/components/HorizontalScroll/HorizontalScroll.test.tsx
  packages/vkui/src/components/HorizontalScroll/HorizontalScroll.tsx
Labels: technical task, cmp:horizontal-scroll, cmp:card-scroll

#7473 fix(CardsScroll): fix import
  packages/vkui/src/components/CardScroll/CardScroll.test.tsx
Labels: cmp:card-scroll

#7471 tech: move check dependabot to job is-updated-vkui-floating-ui
  .github/workflows/pr_close.yml
  .github/workflows/pull_request_common.yml
Labels: technical task

#7477 test(TabbarItem): add screenshots tests to component
  packages/vkui/src/components/TabbarItem/TabbarItem.e2e-playground.tsx
  packages/vkui/src/components/TabbarItem/TabbarItem.e2e.tsx
  packages/vkui/src/components/TabbarItem/__image_snapshots__/tabbaritem-android-chromium-dark-1-snap.png
  packages/vkui/src/components/TabbarItem/__image_snapshots__/tabbaritem-android-chromium-light-1-snap.png
  packages/vkui/src/components/TabbarItem/__image_snapshots__/tabbaritem-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/TabbarItem/__image_snapshots__/tabbaritem-ios-webkit-light-1-snap.png
Labels: technical task, cmp:tabbar-item

#7483 (tech): Change cdn to js delivr
  styleguide/lib/theme/constants.js
  styleguide/lib/theme/index.js
  styleguide/lib/theme/useLoadThemeNames.js
Labels: technical task

#7470 fix(Spacing): rm mutation props
  packages/vkui/src/components/Spacing/Spacing.tsx
Labels: technical task, cmp:spacing

#7476 test(Epic): add screenshots tests to component
  packages/vkui/src/components/Epic/Epic.e2e-playground.tsx
  packages/vkui/src/components/Epic/Epic.e2e.tsx
  packages/vkui/src/components/Epic/__image_snapshots__/epic-android-chromium-dark-1-snap.png
  packages/vkui/src/components/Epic/__image_snapshots__/epic-android-chromium-light-1-snap.png
  packages/vkui/src/components/Epic/__image_snapshots__/epic-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/Epic/__image_snapshots__/epic-ios-webkit-light-1-snap.png
  packages/vkui/src/components/Epic/__image_snapshots__/epic-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Epic/__image_snapshots__/epic-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Epic/__image_snapshots__/epic-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/Epic/__image_snapshots__/epic-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Epic/__image_snapshots__/epic-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/Epic/__image_snapshots__/epic-vkcom-webkit-light-1-snap.png
Labels: cmp:epic, technical task

#7486 tech: fix add-label action
  .github/actions/add-label-to-pull-request/action.yml
Labels: technical task

#7489 test: add screenshots tests to components FormStatus, FormField
  packages/vkui/src/components/FormField/FormField.e2e-playground.tsx
  packages/vkui/src/components/FormField/FormField.e2e.tsx
  packages/vkui/src/components/FormField/FormField.tsx
  packages/vkui/src/components/FormField/__image_snapshots__/formfield-android-chromium-dark-1-snap.png
  packages/vkui/src/components/FormField/__image_snapshots__/formfield-android-chromium-light-1-snap.png
  packages/vkui/src/components/FormField/__image_snapshots__/formfield-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/FormField/__image_snapshots__/formfield-ios-webkit-light-1-snap.png
  packages/vkui/src/components/FormField/__image_snapshots__/formfield-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/FormField/__image_snapshots__/formfield-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/FormField/__image_snapshots__/formfield-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/FormField/__image_snapshots__/formfield-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/FormField/__image_snapshots__/formfield-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/FormField/__image_snapshots__/formfield-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/FormStatus/FormStatus.e2e-playground.tsx
  packages/vkui/src/components/FormStatus/FormStatus.e2e.tsx
  packages/vkui/src/components/FormStatus/__image_snapshots__/formstatus-android-chromium-dark-1-snap.png
  packages/vkui/src/components/FormStatus/__image_snapshots__/formstatus-android-chromium-light-1-snap.png
  packages/vkui/src/components/FormStatus/__image_snapshots__/formstatus-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/FormStatus/__image_snapshots__/formstatus-ios-webkit-light-1-snap.png
  packages/vkui/src/components/FormStatus/__image_snapshots__/formstatus-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/FormStatus/__image_snapshots__/formstatus-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/FormStatus/__image_snapshots__/formstatus-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/FormStatus/__image_snapshots__/formstatus-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/FormStatus/__image_snapshots__/formstatus-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/FormStatus/__image_snapshots__/formstatus-vkcom-webkit-light-1-snap.png
Labels: technical task, cmp:form-field, cmp:form-status
