Repository VKCOM/VKUI, pull requests merged in 2024-12, with the labels that each got.

#8018 docs: create migration_v7.md
  styleguide/Components/Blockquote/Blockquote.css
  styleguide/config.js
  styleguide/pages/migration_v6.md
  styleguide/pages/migration_v7.md
Labels: docs

#8028 chore(PanelHeaderButton): mv TODO from v7 to v8
  packages/vkui/src/components/PanelHeaderButton/PanelHeaderButton.tsx
Labels: docs, cmp:panel-header-button

#8030 chore: revert patch label on PRs
  .github/workflows/pull_request_common.yml
Labels: technical task

#8034 fix: link and icon position on header doc page
  packages/vkui/src/components/Header/Readme.md
Labels: type:bug, docs, cmp:link, patch

#8033 fix(ModalCard): exclude unused `shouldPreserveSnapPoint`
  packages/vkui/src/components/ModalCard/ModalCard.tsx
Labels: type:bug, cmp:modal-card, patch

#7998 feat(ChipsInput): add prop maxHeight
  packages/vkui/src/components/ChipsInput/ChipsInput.tsx
Labels: pr-needs-work

#8017 feat(Popover, Tooltip): add prop strategy to positioning element
  packages/vkui/src/components/Popover/Popover.test.tsx
  packages/vkui/src/components/Popover/Popover.tsx
  packages/vkui/src/components/Popover/usePopover.tsx
  packages/vkui/src/components/Slider/__image_snapshots__/slider-with-tooltip-slider-with-tooltip-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Slider/__image_snapshots__/slider-with-tooltip-slider-with-tooltip-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Slider/__image_snapshots__/slider-with-tooltip-slider-with-tooltip-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/Slider/__image_snapshots__/slider-with-tooltip-slider-with-tooltip-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Slider/__image_snapshots__/slider-with-tooltip-slider-with-tooltip-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/Slider/__image_snapshots__/slider-with-tooltip-slider-with-tooltip-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/Tooltip/Tooltip.test.tsx
  packages/vkui/src/components/Tooltip/Tooltip.tsx
  packages/vkui/src/lib/floating/useFloatingMiddlewaresBootstrap/index.ts
  packages/vkui/src/lib/floating/useFloatingWithInteractions/types.ts
  packages/vkui/src/lib/floating/useFloatingWithInteractions/useFloatingWithInteractions.ts
Labels: type:feature, cmp:tooltip, cmp:popover

#8039 feat(Slider): add testid for slider thumbs
  packages/vkui/src/components/Slider/Slider.test.tsx
  packages/vkui/src/components/Slider/Slider.tsx
Labels: type:feature, cmp:slider

#8007 fix(FormField): fix nesting of selectors
  packages/vkui/src/components/FormField/FormField.module.css
Labels: type:bug, cmp:form-field, cmp:date-input, cmp:calendar

#8038 feat(Pagination): Add testid for buttons
  packages/vkui/src/components/Pagination/Pagination.test.tsx
  packages/vkui/src/components/Pagination/Pagination.tsx
  packages/vkui/src/components/Pagination/PaginationNavigationButton/PaginationNavigationButton.tsx
Labels: type:feature, cmp:pagination

#8003 docs: fix NativeSelect name
  packages/vkui/src/components/NativeSelect/NativeSelect.tsx
Labels: type:bug, docs, patch, cmp:native-select

#8032 feat(HorizontalScroll, CardScroll): Add testid props for arrows
  packages/vkui/src/components/CardScroll/CardScroll.test.tsx
  packages/vkui/src/components/CardScroll/CardScroll.tsx
  packages/vkui/src/components/HorizontalScroll/HorizontalScroll.test.tsx
  packages/vkui/src/components/HorizontalScroll/HorizontalScroll.tsx
Labels: type:feature, cmp:horizontal-scroll, cmp:card-scroll

#8057 fix(ActionSheet): add FocusTrap props to ActionSheet props
  packages/vkui/src/components/ActionSheet/ActionSheet.tsx
Labels: patch

#8061 build(deps): Bump path-to-regexp from 0.1.10 to 0.1.12
  package.json
  yarn.lock
Labels: dependencies, javascript

#8062 feat(HorizontalScroll/CardScroll): Rename testId props to prevButton/nextButton
  packages/vkui/src/components/CardScroll/CardScroll.test.tsx
  packages/vkui/src/components/CardScroll/CardScroll.tsx
  packages/vkui/src/components/HorizontalScroll/HorizontalScroll.test.tsx
  packages/vkui/src/components/HorizontalScroll/HorizontalScroll.tsx
Labels: type:feature

#8063 feat: add more export
  packages/vkui/src/index.ts
Labels: type:enhancement

#8035 test(todo): mv getFake*Event to *EventMock
  packages/vkui/src/components/Snackbar/Snackbar.test.tsx
  packages/vkui/src/lib/dom.test.ts
  packages/vkui/src/lib/sheet/useBottomSheet.test.tsx
  packages/vkui/src/lib/touch/UIPanGestureRecognizer.test.ts
  packages/vkui/src/testing/utils.tsx
Labels: technical task

#8055 feat(useResizeObserver): add ResizeObserver using when supported
  packages/vkui/src/components/BaseGallery/BaseGallery.tsx
  packages/vkui/src/components/BaseGallery/CarouselBase/CarouselBase.tsx
  packages/vkui/src/components/BaseGallery/types.ts
  packages/vkui/src/components/FixedLayout/FixedLayout.tsx
  packages/vkui/src/components/Gallery/Gallery.test.tsx
  packages/vkui/src/components/Skeleton/Skeleton.tsx
  packages/vkui/src/components/Textarea/Textarea.tsx
  packages/vkui/src/hooks/useResizeObserver.test.tsx
  packages/vkui/src/hooks/useResizeObserver.ts
Labels: type:bug, cmp:gallery

#8068 feat(Calendar): fix view in rtl
  packages/vkui/src/components/Calendar/Calendar.e2e-playground.tsx
  packages/vkui/src/components/Calendar/Calendar.tsx
  packages/vkui/src/components/Calendar/__image_snapshots__/calendar-android-chromium-dark-1-snap.png
  packages/vkui/src/components/Calendar/__image_snapshots__/calendar-android-chromium-light-1-snap.png
  packages/vkui/src/components/Calendar/__image_snapshots__/calendar-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/Calendar/__image_snapshots__/calendar-ios-webkit-light-1-snap.png
  packages/vkui/src/components/Calendar/__image_snapshots__/calendar-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Calendar/__image_snapshots__/calendar-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Calendar/__image_snapshots__/calendar-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/Calendar/__image_snapshots__/calendar-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Calendar/__image_snapshots__/calendar-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/Calendar/__image_snapshots__/calendar-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/CalendarDay/CalendarDay.module.css
  packages/vkui/src/components/CalendarDay/CalendarDay.tsx
  packages/vkui/src/components/CalendarHeader/CalendarHeader.tsx
  packages/vkui/src/components/CalendarRange/CalendarRange.e2e-playground.tsx
  packages/vkui/src/components/CalendarRange/CalendarRange.tsx
  packages/vkui/src/components/CalendarRange/__image_snapshots__/calendarrange-android-chromium-dark-1-snap.png
  packages/vkui/src/components/CalendarRange/__image_snapshots__/calendarrange-android-chromium-light-1-snap.png
  packages/vkui/src/components/CalendarRange/__image_snapshots__/calendarrange-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/CalendarRange/__image_snapshots__/calendarrange-ios-webkit-light-1-snap.png
  packages/vkui/src/components/CalendarRange/__image_snapshots__/calendarrange-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/CalendarRange/__image_snapshots__/calendarrange-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/CalendarRange/__image_snapshots__/calendarrange-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/CalendarRange/__image_snapshots__/calendarrange-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/CalendarRange/__image_snapshots__/calendarrange-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/CalendarRange/__image_snapshots__/calendarrange-vkcom-webkit-light-1-snap.png
  packages/vkui/src/context/CalendarDirectionContext.ts
  packages/vkui/src/hooks/useDirection.ts
Labels: type:feature, cmp:calendar, cmp:calendar-range

#8090 Imirdzhamolov/fix/benchmark build
  benchmark/.env.default
  benchmark/README.md
  benchmark/package.json
  benchmark/runtime/webpack.config.mjs
  yarn.lock
Labels: technical task

#8084 build(deps): Ignore 0.0.0-experimental-* compiler version
  .github/dependabot.yml
Labels: dependencies

#8091 fix(Popper): add support of prop zIndex
  packages/vkui/src/components/Popper/Popper.tsx
Labels: patch

#8101 fix(Tooltip): break word in title and description
  packages/vkui/src/components/Tooltip/Tooltip.tsx
  packages/vkui/src/components/TooltipBase/TooltipBase.module.css
  packages/vkui/src/components/TooltipBase/TooltipBase.tsx
Labels: type:bug, cmp:tooltip, patch

#8004 fix(ImageBase): fix bug with css selectors of ImageBase
  packages/vkui/src/components/ImageBase/ImageBase.module.css
  packages/vkui/src/components/PanelHeader/PanelHeader.e2e-playground.tsx
  packages/vkui/src/components/PanelHeader/__image_snapshots__/panelheader-android-chromium-light-1-snap.png
  packages/vkui/src/components/PanelHeader/__image_snapshots__/panelheader-ios-webkit-light-1-snap.png
  packages/vkui/src/components/PanelHeader/__image_snapshots__/panelheader-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/PanelHeader/__image_snapshots__/panelheader-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/PanelHeader/__image_snapshots__/panelheader-vkcom-webkit-light-1-snap.png
Labels: patch

#8100 docs(ModalRoot): add info about wrappers of modals
  packages/vkui/src/components/ModalRoot/Readme.md
  styleguide/pages/migration_v7.md
Labels: docs, patch

#8107 patch: pr8082
  .nvmrc
Labels: dependencies

#8104 feat(Switch): fix rtl view
  packages/vkui/src/components/Switch/Switch.e2e-playground.tsx
  packages/vkui/src/components/Switch/Switch.module.css
  packages/vkui/src/components/Switch/Switch.tsx
  packages/vkui/src/components/Switch/__image_snapshots__/switch-android-chromium-dark-1-snap.png
  packages/vkui/src/components/Switch/__image_snapshots__/switch-android-chromium-light-1-snap.png
  packages/vkui/src/components/Switch/__image_snapshots__/switch-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/Switch/__image_snapshots__/switch-ios-webkit-light-1-snap.png
  packages/vkui/src/components/Switch/__image_snapshots__/switch-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Switch/__image_snapshots__/switch-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Switch/__image_snapshots__/switch-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/Switch/__image_snapshots__/switch-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Switch/__image_snapshots__/switch-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/Switch/__image_snapshots__/switch-vkcom-webkit-light-1-snap.png
Labels: type:feature, cmp:switch

#8117 feat(Pagination): fix rtl view
  packages/vkui/src/components/Pagination/Pagination.e2e-playground.tsx
  packages/vkui/src/components/Pagination/Pagination.tsx
  packages/vkui/src/components/Pagination/__image_snapshots__/pagination-android-chromium-dark-1-snap.png
  packages/vkui/src/components/Pagination/__image_snapshots__/pagination-android-chromium-light-1-snap.png
  packages/vkui/src/components/Pagination/__image_snapshots__/pagination-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/Pagination/__image_snapshots__/pagination-ios-webkit-light-1-snap.png
  packages/vkui/src/components/Pagination/__image_snapshots__/pagination-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Pagination/__image_snapshots__/pagination-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Pagination/__image_snapshots__/pagination-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/Pagination/__image_snapshots__/pagination-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Pagination/__image_snapshots__/pagination-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/Pagination/__image_snapshots__/pagination-vkcom-webkit-light-1-snap.png
Labels: type:feature, cmp:pagination

#8116 feat(Cell): fix rtl view
  packages/vkui/src/components/Removable/Removable.module.css
  packages/vkui/src/components/Removable/Removable.tsx
Labels: type:feature, cmp:cell, cmp:removable

#8098 feat(Slider): fix rtl view
  packages/vkui/src/components/Slider/Slider.e2e-playground.tsx
  packages/vkui/src/components/Slider/Slider.module.css
  packages/vkui/src/components/Slider/Slider.test.tsx
  packages/vkui/src/components/Slider/Slider.tsx
  packages/vkui/src/components/Slider/__image_snapshots__/slider-android-chromium-dark-1-snap.png
  packages/vkui/src/components/Slider/__image_snapshots__/slider-android-chromium-light-1-snap.png
  packages/vkui/src/components/Slider/__image_snapshots__/slider-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/Slider/__image_snapshots__/slider-ios-webkit-light-1-snap.png
  packages/vkui/src/components/Slider/__image_snapshots__/slider-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Slider/__image_snapshots__/slider-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Slider/__image_snapshots__/slider-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/Slider/__image_snapshots__/slider-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Slider/__image_snapshots__/slider-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/Slider/__image_snapshots__/slider-vkcom-webkit-light-1-snap.png
  packages/vkui/src/testing/utils.tsx
Labels: type:feature, cmp:slider, pr-needs-work

#8124 fix(useScrollLock): check first effect
  packages/vkui/src/components/AppRoot/ScrollContext.tsx
Labels: patch

#8127 fix(ImageBase): support elementtiming
  packages/vkui/src/components/ImageBase/ImageBase.tsx
Labels: cmp:avatar, patch, cmp:image-base, cmp:image

#8125 fix(TabsItem): add Component prop
  packages/vkui/src/components/TabsItem/TabsItem.tsx
Labels: patch

#8128 feat(AvatarBadge): fix rtl view
  packages/vkui/src/components/Avatar/AvatarBadge/AvatarBadge.module.css
  packages/vkui/src/components/Avatar/AvatarBadge/AvatarBadgeWithPreset.tsx
Labels: type:feature, cmp:avatar

#8109 feat(Snackbar): fix rtl view
  packages/vkui/src/components/Snackbar/Snackbar.e2e-playground.tsx
  packages/vkui/src/components/Snackbar/Snackbar.e2e.tsx
  packages/vkui/src/components/Snackbar/Snackbar.module.css
  packages/vkui/src/components/Snackbar/Snackbar.tsx
  packages/vkui/src/components/Snackbar/__image_snapshots__/snackbar-placement-android-chromium-dark-1-snap.png
  packages/vkui/src/components/Snackbar/__image_snapshots__/snackbar-placement-android-chromium-light-1-snap.png
  packages/vkui/src/components/Snackbar/__image_snapshots__/snackbar-placement-dir-ltr-android-chromium-dark-1-snap.png
  packages/vkui/src/components/Snackbar/__image_snapshots__/snackbar-placement-dir-ltr-android-chromium-light-1-snap.png
  packages/vkui/src/components/Snackbar/__image_snapshots__/snackbar-placement-dir-ltr-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/Snackbar/__image_snapshots__/snackbar-placement-dir-ltr-ios-webkit-light-1-snap.png
  packages/vkui/src/components/Snackbar/__image_snapshots__/snackbar-placement-dir-ltr-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Snackbar/__image_snapshots__/snackbar-placement-dir-ltr-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Snackbar/__image_snapshots__/snackbar-placement-dir-ltr-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/Snackbar/__image_snapshots__/snackbar-placement-dir-ltr-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Snackbar/__image_snapshots__/snackbar-placement-dir-ltr-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/Snackbar/__image_snapshots__/snackbar-placement-dir-ltr-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/Snackbar/__image_snapshots__/snackbar-placement-dir-rtl-android-chromium-dark-1-snap.png
  packages/vkui/src/components/Snackbar/__image_snapshots__/snackbar-placement-dir-rtl-android-chromium-light-1-snap.png
  packages/vkui/src/components/Snackbar/__image_snapshots__/snackbar-placement-dir-rtl-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/Snackbar/__image_snapshots__/snackbar-placement-dir-rtl-ios-webkit-light-1-snap.png
  packages/vkui/src/components/Snackbar/__image_snapshots__/snackbar-placement-dir-rtl-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Snackbar/__image_snapshots__/snackbar-placement-dir-rtl-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Snackbar/__image_snapshots__/snackbar-placement-dir-rtl-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/Snackbar/__image_snapshots__/snackbar-placement-dir-rtl-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Snackbar/__image_snapshots__/snackbar-placement-dir-rtl-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/Snackbar/__image_snapshots__/snackbar-placement-dir-rtl-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/Snackbar/__image_snapshots__/snackbar-placement-ios-webkit-light-1-snap.png
  packages/vkui/src/components/Snackbar/__image_snapshots__/snackbar-placement-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Snackbar/utils.ts
Labels: type:feature, cmp:snackbar

#8105 feat(Search): fix rtl view
  packages/vkui/src/components/Search/Search.e2e-playground.tsx
  packages/vkui/src/components/Search/Search.module.css
  packages/vkui/src/components/Search/Search.tsx
  packages/vkui/src/components/Search/__image_snapshots__/search-android-chromium-dark-1-snap.png
  packages/vkui/src/components/Search/__image_snapshots__/search-android-chromium-light-1-snap.png
  packages/vkui/src/components/Search/__image_snapshots__/search-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/Search/__image_snapshots__/search-ios-webkit-light-1-snap.png
  packages/vkui/src/components/Search/__image_snapshots__/search-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Search/__image_snapshots__/search-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Search/__image_snapshots__/search-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/Search/__image_snapshots__/search-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Search/__image_snapshots__/search-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/Search/__image_snapshots__/search-vkcom-webkit-light-1-snap.png
Labels: type:feature, cmp:search
