Repository VKCOM/VKUI, pull requests merged in 2024-09, with the labels that each got.

#6920 style: add eslint-plugin-react-compiler
  .eslintrc.json
  package.json
  yarn.lock
Labels: technical task, no-stale

#7503 tech: fix condition in step dependencies
  .github/workflows/pull_request_common.yml
Labels: technical task

#7480 test(FixedLayout): add screenshot tests to component
  packages/vkui/src/components/FixedLayout/FixedLayout.e2e-playground.tsx
  packages/vkui/src/components/FixedLayout/FixedLayout.e2e.tsx
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-bottom-android-chromium-dark-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-bottom-android-chromium-light-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-bottom-filled-true-android-chromium-dark-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-bottom-filled-true-android-chromium-light-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-bottom-filled-true-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-bottom-filled-true-ios-webkit-light-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-bottom-filled-true-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-bottom-filled-true-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-bottom-filled-true-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-bottom-filled-true-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-bottom-filled-true-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-bottom-filled-true-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-bottom-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-bottom-ios-webkit-light-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-bottom-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-bottom-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-bottom-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-bottom-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-bottom-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-bottom-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-top-android-chromium-dark-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-top-android-chromium-light-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-top-filled-true-android-chromium-dark-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-top-filled-true-android-chromium-light-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-top-filled-true-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-top-filled-true-ios-webkit-light-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-top-filled-true-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-top-filled-true-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-top-filled-true-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-top-filled-true-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-top-filled-true-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-top-filled-true-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-top-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-top-ios-webkit-light-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-top-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-top-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-top-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-top-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-top-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/FixedLayout/__image_snapshots__/fixedlayout-with-vertical-top-vkcom-webkit-light-1-snap.png
Labels: technical task, cmp:fixed-layout

#7456 test(Gallery): add screenshot tests to component
  packages/vkui/src/components/Gallery/Gallery.e2e-playground.tsx
  packages/vkui/src/components/Gallery/Gallery.e2e.tsx
  packages/vkui/src/components/Gallery/__image_snapshots__/gallery-android-chromium-dark-1-snap.png
  packages/vkui/src/components/Gallery/__image_snapshots__/gallery-android-chromium-light-1-snap.png
  packages/vkui/src/components/Gallery/__image_snapshots__/gallery-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/Gallery/__image_snapshots__/gallery-ios-webkit-light-1-snap.png
  packages/vkui/src/components/Gallery/__image_snapshots__/gallery-show-arrows-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Gallery/__image_snapshots__/gallery-show-arrows-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Gallery/__image_snapshots__/gallery-show-arrows-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/Gallery/__image_snapshots__/gallery-show-arrows-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Gallery/__image_snapshots__/gallery-show-arrows-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/Gallery/__image_snapshots__/gallery-show-arrows-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/Gallery/__image_snapshots__/gallery-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Gallery/__image_snapshots__/gallery-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Gallery/__image_snapshots__/gallery-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/Gallery/__image_snapshots__/gallery-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Gallery/__image_snapshots__/gallery-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/Gallery/__image_snapshots__/gallery-vkcom-webkit-light-1-snap.png
Labels: cmp:gallery, technical task

#7508 fix(CustomSelect): fix custom select cursor updating
  packages/vkui/src/components/CustomSelect/CustomSelect.tsx
Labels: patch

#7511 fix(ImageBase): children position absolute
  packages/vkui/src/components/Image/Image.e2e-playground.tsx
  packages/vkui/src/components/Image/__image_snapshots__/image-android-chromium-dark-1-snap.png
  packages/vkui/src/components/Image/__image_snapshots__/image-android-chromium-light-1-snap.png
  packages/vkui/src/components/Image/__image_snapshots__/image-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/Image/__image_snapshots__/image-ios-webkit-light-1-snap.png
  packages/vkui/src/components/Image/__image_snapshots__/image-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Image/__image_snapshots__/image-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Image/__image_snapshots__/image-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/Image/__image_snapshots__/image-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Image/__image_snapshots__/image-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/Image/__image_snapshots__/image-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/ImageBase/ImageBase.module.css
  packages/vkui/src/components/ImageBase/ImageBase.tsx
Labels: type:bug, patch, cmp:image

#7509 tech: rename vkui_version to current_vkui_version in inputs
  .github/workflows/pr_close.yml
Labels: technical task

#7514 tech: update pull_request_template
  .github/pull_request_template.md
Labels: technical task

#7540 ci(dependabot): ignore eslint-plugin-react-compiler 0.0.0
  .github/dependabot.yml
Labels: dependencies, technical task

#7543 fix(ModalRoot): call onClosed only once
  packages/vkui/src/components/ModalRoot/ModalRootDesktop.tsx
  packages/vkui/src/hooks/useWaitTransitionFinish.ts
Labels: patch

#7546 fix(Alert): call onClose after item's action
  packages/vkui/src/components/Alert/Alert.test.tsx
  packages/vkui/src/components/Alert/Alert.tsx
Labels: type:bug, cmp:alert

#7515 feat(Skeleton): use js sync animation
  packages/vkui/src/components/Skeleton/Skeleton.module.css
  packages/vkui/src/components/Skeleton/Skeleton.tsx
  packages/vkui/src/components/Skeleton/__image_snapshots__/skeleton-android-chromium-dark-1-snap.png
  packages/vkui/src/components/Skeleton/__image_snapshots__/skeleton-android-chromium-light-1-snap.png
  packages/vkui/src/components/Skeleton/__image_snapshots__/skeleton-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/Skeleton/__image_snapshots__/skeleton-ios-webkit-light-1-snap.png
  packages/vkui/src/components/Skeleton/__image_snapshots__/skeleton-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Skeleton/__image_snapshots__/skeleton-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Skeleton/__image_snapshots__/skeleton-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/Skeleton/__image_snapshots__/skeleton-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Skeleton/__image_snapshots__/skeleton-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/Skeleton/__image_snapshots__/skeleton-vkcom-webkit-light-1-snap.png
Labels: type:feature, cmp:skeleton

#7549 feat(Typography): Support fontWeightBase tokens
  packages/vkui/src/components/Typography/Typography.module.css
  packages/vkui/src/components/Typography/Typography.stories.tsx
  packages/vkui/src/components/Typography/Typography.test.tsx
  packages/vkui/src/components/Typography/Typography.tsx
Labels: cmp:typography

#7564 feat(Text): Add compact tokens for font-weight and font-family
  packages/vkui/src/components/Typography/Text/Text.e2e-playground.tsx
  packages/vkui/src/components/Typography/Text/Text.module.css
  packages/vkui/src/components/Typography/Text/__image_snapshots__/text-android-chromium-dark-1-snap.png
  packages/vkui/src/components/Typography/Text/__image_snapshots__/text-android-chromium-light-1-snap.png
  packages/vkui/src/components/Typography/Text/__image_snapshots__/text-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/Typography/Text/__image_snapshots__/text-ios-webkit-light-1-snap.png
  packages/vkui/src/components/Typography/Text/__image_snapshots__/text-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Typography/Text/__image_snapshots__/text-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Typography/Text/__image_snapshots__/text-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/Typography/Text/__image_snapshots__/text-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Typography/Text/__image_snapshots__/text-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/Typography/Text/__image_snapshots__/text-vkcom-webkit-light-1-snap.png
Labels: adaptivity, cmp:text

#7566 feat(Subhead): Add fontWeight and fontFamily to compact mode
  packages/vkui/src/components/Typography/Subhead/Subhead.module.css
Labels: adaptivity, cmp:subhead

#7555 feat(Caption): Add adaptivity
  packages/vkui/src/components/Typography/Caption/Caption.module.css
  packages/vkui/src/components/Typography/Caption/Caption.tsx
  packages/vkui/src/components/Typography/Typography.module.css
Labels: adaptivity, cmp:caption

#7565 feat(Paragraph): Add compact mode
  packages/vkui/src/components/Typography/Paragraph/Paragraph.e2e-playground.tsx
  packages/vkui/src/components/Typography/Paragraph/Paragraph.module.css
  packages/vkui/src/components/Typography/Paragraph/Paragraph.tsx
  packages/vkui/src/components/Typography/Paragraph/__image_snapshots__/paragraph-android-chromium-dark-1-snap.png
  packages/vkui/src/components/Typography/Paragraph/__image_snapshots__/paragraph-android-chromium-light-1-snap.png
  packages/vkui/src/components/Typography/Paragraph/__image_snapshots__/paragraph-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/Typography/Paragraph/__image_snapshots__/paragraph-ios-webkit-light-1-snap.png
  packages/vkui/src/components/Typography/Paragraph/__image_snapshots__/paragraph-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Typography/Paragraph/__image_snapshots__/paragraph-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Typography/Paragraph/__image_snapshots__/paragraph-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/Typography/Paragraph/__image_snapshots__/paragraph-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Typography/Paragraph/__image_snapshots__/paragraph-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/Typography/Paragraph/__image_snapshots__/paragraph-vkcom-webkit-light-1-snap.png
Labels: adaptivity, cmp:paragraph

#7563 feat(Footnote): add adaptivity
  packages/vkui/src/components/Typography/Footnote/Footnote.module.css
  packages/vkui/src/components/Typography/Footnote/Footnote.tsx
Labels: adaptivity, cmp:footnote

#7554 feat(Title): Add adaptivity
  packages/vkui/src/components/Typography/Title/Title.module.css
  packages/vkui/src/components/Typography/Title/Title.tsx
Labels: adaptivity, cmp:title

#7553 feat(DisplayTitle): Add adaptivity to DisplayTitle
  packages/vkui/src/components/Typography/DisplayTitle/DisplayTitle.module.css
  packages/vkui/src/components/Typography/DisplayTitle/DisplayTitle.tsx
  packages/vkui/src/components/Typography/DisplayTitle/__image_snapshots__/displaytitle-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Typography/DisplayTitle/__image_snapshots__/displaytitle-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Typography/DisplayTitle/__image_snapshots__/displaytitle-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/Typography/DisplayTitle/__image_snapshots__/displaytitle-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Typography/DisplayTitle/__image_snapshots__/displaytitle-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/Typography/DisplayTitle/__image_snapshots__/displaytitle-vkcom-webkit-light-1-snap.png
Labels: adaptivity, cmp:display-title

#7551 fix(Headline): add compact adaptivity for fontWeight
  packages/vkui/package.json
  packages/vkui/shared.config.js
  packages/vkui/src/components/Button/__image_snapshots__/button-android-chromium-dark-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-android-chromium-light-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-counter-android-chromium-dark-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-counter-android-chromium-light-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-counter-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-counter-ios-webkit-light-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-counter-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-counter-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-counter-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-counter-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-counter-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-counter-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-ios-webkit-light-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-state-android-chromium-dark-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-state-android-chromium-light-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-state-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-state-ios-webkit-light-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-state-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-state-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-state-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-state-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-state-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-state-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/Button/__image_snapshots__/button-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/Counter/__image_snapshots__/counter-android-chromium-dark-1-snap.png
  packages/vkui/src/components/Counter/__image_snapshots__/counter-android-chromium-light-1-snap.png
  packages/vkui/src/components/Counter/__image_snapshots__/counter-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/Counter/__image_snapshots__/counter-ios-webkit-light-1-snap.png
  packages/vkui/src/components/Counter/__image_snapshots__/counter-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Counter/__image_snapshots__/counter-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Counter/__image_snapshots__/counter-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/Counter/__image_snapshots__/counter-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Counter/__image_snapshots__/counter-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/Counter/__image_snapshots__/counter-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/Typography/Headline/Headline.module.css
  packages/vkui/src/components/Typography/Headline/Headline.tsx
  packages/vkui/src/components/Typography/Headline/__image_snapshots__/headline-android-chromium-dark-1-snap.png
  packages/vkui/src/components/Typography/Headline/__image_snapshots__/headline-android-chromium-light-1-snap.png
  packages/vkui/src/components/Typography/Headline/__image_snapshots__/headline-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/Typography/Headline/__image_snapshots__/headline-ios-webkit-light-1-snap.png
  packages/vkui/src/components/Typography/Headline/__image_snapshots__/headline-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Typography/Headline/__image_snapshots__/headline-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Typography/Headline/__image_snapshots__/headline-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/Typography/Headline/__image_snapshots__/headline-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Typography/Headline/__image_snapshots__/headline-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/Typography/Headline/__image_snapshots__/headline-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/WriteBar/WriteBar.tsx
  packages/vkui/src/styles/missedThemeTokens.css
  stylelint.config.js
Labels: adaptivity, cmp:headline

#7571 tech: Apply no-useless-computed-key eslint rule
  .eslintrc.json
  packages/vkui/src/components/AspectRatio/AspectRatio.tsx
  packages/vkui/src/components/Button/Button.tsx
  packages/vkui/src/components/CardGrid/CardGrid.tsx
  packages/vkui/src/components/CustomSelect/CustomSelect.tsx
  packages/vkui/src/components/CustomSelectOption/CustomSelectOption.tsx
  packages/vkui/src/components/DateInput/DateInput.tsx
  packages/vkui/src/components/DateRangeInput/DateRangeInput.tsx
  packages/vkui/src/components/FormField/FormField.tsx
  packages/vkui/src/components/FormItem/FormItem.tsx
  packages/vkui/src/components/FormLayoutGroup/FormLayoutGroup.tsx
  packages/vkui/src/components/Input/Input.tsx
  packages/vkui/src/components/NativeSelect/NativeSelect.tsx
  packages/vkui/src/components/Panel/Panel.tsx
  packages/vkui/src/components/RichCell/RichCell.tsx
  packages/vkui/src/components/SegmentedControl/SegmentedControl.tsx
  packages/vkui/src/components/SelectMimicry/SelectMimicry.tsx
  packages/vkui/src/components/SimpleCell/SimpleCell.tsx
  packages/vkui/src/components/Slider/Slider.tsx
  packages/vkui/src/components/SubnavigationButton/SubnavigationButton.tsx
  packages/vkui/src/components/TabsItem/TabsItem.tsx
  packages/vkui/src/components/Textarea/Textarea.tsx
  packages/vkui/src/components/Typography/Headline/Headline.tsx
  packages/vkui/src/components/Typography/Subhead/Subhead.tsx
  packages/vkui/src/components/Typography/Text/Text.tsx
  packages/vkui/src/hooks/useAdaptivityConditionalRender/constants.ts
Labels: technical task

#7580 chore(CODEOWNERS): exclude safe files
  .github/CODEOWNERS
Labels: technical task

#7585 feat: improve codemod templates
  packages/codemods/_templates/codemod-test/new/input-testfixture.ejs.t
  packages/codemods/_templates/codemod-test/new/test.ejs.t
  packages/codemods/_templates/codemod-test/new/transformer.ejs.t
Labels: technical task

#7581 chore(pull_request_template.md): add BREAKING CHANGE
  .github/pull_request_template.md
Labels: technical task

#7584 docs(platforms_and_themes.md): extend appearance override info
  styleguide/pages/platforms_and_themes.md
Labels: docs

#7608 feat: add custom checkbox icons
  packages/vkui/src/components/Checkbox/CheckboxInput/CheckboxInput.tsx
  packages/vkui/src/index.ts
Labels: type:feature, cmp:checkbox

#7578 feat: remove FormItemTopLabel multiline prop
  packages/codemods/src/transforms/v7/__testfixtures__/form-item/basic.input.tsx
  packages/codemods/src/transforms/v7/__tests__/__snapshots__/form-item.ts.snap
  packages/codemods/src/transforms/v7/__tests__/form-item.ts
  packages/codemods/src/transforms/v7/form-item.ts
  packages/vkui/src/components/FormItem/FormItem.e2e-playground.tsx
  packages/vkui/src/components/FormItem/FormItem.tsx
  packages/vkui/src/components/FormItem/FormItemTop/FormItemTopLabel.tsx
  packages/vkui/src/components/FormItem/__image_snapshots__/formitem-with-top-aside-android-chromium-dark-1-snap.png
  packages/vkui/src/components/FormItem/__image_snapshots__/formitem-with-top-aside-android-chromium-light-1-snap.png
  packages/vkui/src/components/FormItem/__image_snapshots__/formitem-with-top-aside-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/FormItem/__image_snapshots__/formitem-with-top-aside-ios-webkit-light-1-snap.png
  packages/vkui/src/components/FormItem/__image_snapshots__/formitem-with-top-aside-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/FormItem/__image_snapshots__/formitem-with-top-aside-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/FormItem/__image_snapshots__/formitem-with-top-aside-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/FormItem/__image_snapshots__/formitem-with-top-aside-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/FormItem/__image_snapshots__/formitem-with-top-aside-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/FormItem/__image_snapshots__/formitem-with-top-aside-vkcom-webkit-light-1-snap.png
Labels: cmp:form-item, breaking-change

#7550 feat(Flex, SimpleGrid): swap gap prop elements
  packages/codemods/src/transforms/v7/__testfixtures__/flex/basic.input.tsx
  packages/codemods/src/transforms/v7/__testfixtures__/simple-grid/basic.input.tsx
  packages/codemods/src/transforms/v7/__tests__/__snapshots__/flex.ts.snap
  packages/codemods/src/transforms/v7/__tests__/__snapshots__/simple-grid.ts.snap
  packages/codemods/src/transforms/v7/__tests__/flex.ts
  packages/codemods/src/transforms/v7/__tests__/simple-grid.ts
  packages/codemods/src/transforms/v7/common/swapGapPropElements.ts
  packages/codemods/src/transforms/v7/flex.ts
  packages/codemods/src/transforms/v7/simple-grid.ts
  packages/vkui/src/components/Flex/Flex.e2e-playground.tsx
  packages/vkui/src/components/Flex/Flex.test.tsx
  packages/vkui/src/components/Flex/Flex.tsx
  packages/vkui/src/components/Flex/Readme.md
  packages/vkui/src/components/Flex/__image_snapshots__/flex-rendering-android-chromium-light-1-snap.png
  packages/vkui/src/components/Flex/__image_snapshots__/flex-rendering-ios-webkit-light-1-snap.png
  packages/vkui/src/components/Flex/__image_snapshots__/flex-rendering-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Flex/__image_snapshots__/flex-rendering-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Flex/__image_snapshots__/flex-rendering-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/SimpleGrid/Readme.md
  packages/vkui/src/components/SimpleGrid/SimpleGrid.e2e-playground.tsx
  packages/vkui/src/components/SimpleGrid/SimpleGrid.test.tsx
  packages/vkui/src/components/SimpleGrid/SimpleGrid.tsx
  packages/vkui/src/components/SimpleGrid/__image_snapshots__/simplegrid-rendering-android-chromium-light-1-snap.png
  packages/vkui/src/components/SimpleGrid/__image_snapshots__/simplegrid-rendering-ios-webkit-light-1-snap.png
  packages/vkui/src/components/SimpleGrid/__image_snapshots__/simplegrid-rendering-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/SimpleGrid/__image_snapshots__/simplegrid-rendering-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/SimpleGrid/__image_snapshots__/simplegrid-rendering-vkcom-webkit-light-1-snap.png
Labels: breaking-change, subpackage:@vkontakte/vkui-codemods, cmp:flex, cmp:simple-grid

#7602 fix: add action check-file-changed
  .github/workflows/pr_close.yml
  .github/workflows/pull_request_common.yml
Labels: github_actions

#7622 fix(Select): disabled for options
  packages/vkui/src/components/Select/Select.tsx
Labels: patch, v6

#7615 fix(CarouselBase): fix two slides transition
  packages/vkui/src/components/BaseGallery/CarouselBase/CarouselBase.tsx
Labels: patch, v6

#7619 SevereCloud/revert/CustomSelect-pr7235
  packages/vkui/src/components/CustomSelect/CustomSelect.stories.tsx
  packages/vkui/src/components/CustomSelect/CustomSelect.test.tsx
  packages/vkui/src/components/CustomSelect/CustomSelect.tsx
  packages/vkui/src/components/CustomSelect/CustomSelectInput.module.css
  packages/vkui/src/components/CustomSelect/CustomSelectInput.tsx
  packages/vkui/src/components/CustomSelect/__image_snapshots__/customselect-android-chromium-dark-1-snap.png
  packages/vkui/src/components/CustomSelect/__image_snapshots__/customselect-android-chromium-light-1-snap.png
  packages/vkui/src/components/CustomSelect/__image_snapshots__/customselect-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/CustomSelect/__image_snapshots__/customselect-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/CustomSelect/__image_snapshots__/customselect-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/CustomSelect/__image_snapshots__/customselect-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/CustomSelect/__image_snapshots__/customselect-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/CustomSelect/__image_snapshots__/customselect-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/CustomSelect/helpers.tsx
  packages/vkui/src/components/CustomSelect/types.ts
Labels: patch, v6

#7624 fix(esm): resolveFully
  packages/vkui/cssm/cssm.swcrc
  packages/vkui/jest.config.ts
  packages/vkui/package.swcrc
Labels: technical task

#7582 feat(HorizontalScroll): remove inline prop
  packages/codemods/src/transforms/v7/__testfixtures__/horizontal-cell-show-more/basic.input.tsx
  packages/codemods/src/transforms/v7/__testfixtures__/horizontal-scroll/basic.input.tsx
  packages/codemods/src/transforms/v7/__tests__/__snapshots__/horizontal-cell-show-more.ts.snap
  packages/codemods/src/transforms/v7/__tests__/__snapshots__/horizontal-scroll.ts.snap
  packages/codemods/src/transforms/v7/__tests__/horizontal-cell-show-more.ts
  packages/codemods/src/transforms/v7/__tests__/horizontal-scroll.ts
  packages/codemods/src/transforms/v7/horizontal-cell-show-more.ts
  packages/codemods/src/transforms/v7/horizontal-scroll.ts
  packages/vkui/src/components/CardScroll/CardScroll.module.css
  packages/vkui/src/components/Group/Readme.md
  packages/vkui/src/components/HorizontalCell/Readme.md
  packages/vkui/src/components/HorizontalScroll/HorizontalCellShowMore/HorizontalCellShowMore.e2e-playground.tsx
  packages/vkui/src/components/HorizontalScroll/HorizontalCellShowMore/HorizontalCellShowMore.module.css
  packages/vkui/src/components/HorizontalScroll/HorizontalCellShowMore/HorizontalCellShowMore.stories.tsx
  packages/vkui/src/components/HorizontalScroll/HorizontalCellShowMore/HorizontalCellShowMore.tsx
  packages/vkui/src/components/HorizontalScroll/HorizontalCellShowMore/__image_snapshots__/horizontalcellshowmore-small-size-android-chromium-dark-1-snap.png
  packages/vkui/src/components/HorizontalScroll/HorizontalCellShowMore/__image_snapshots__/horizontalcellshowmore-small-size-android-chromium-light-1-snap.png
  packages/vkui/src/components/HorizontalScroll/HorizontalCellShowMore/__image_snapshots__/horizontalcellshowmore-small-size-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/HorizontalScroll/HorizontalCellShowMore/__image_snapshots__/horizontalcellshowmore-small-size-ios-webkit-light-1-snap.png
  packages/vkui/src/components/HorizontalScroll/HorizontalCellShowMore/__image_snapshots__/horizontalcellshowmore-small-size-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/HorizontalScroll/HorizontalCellShowMore/__image_snapshots__/horizontalcellshowmore-small-size-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/HorizontalScroll/HorizontalCellShowMore/__image_snapshots__/horizontalcellshowmore-small-size-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/HorizontalScroll/HorizontalCellShowMore/__image_snapshots__/horizontalcellshowmore-small-size-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/HorizontalScroll/HorizontalCellShowMore/__image_snapshots__/horizontalcellshowmore-small-size-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/HorizontalScroll/HorizontalCellShowMore/__image_snapshots__/horizontalcellshowmore-small-size-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/HorizontalScroll/HorizontalScroll.e2e-playground.tsx
  packages/vkui/src/components/HorizontalScroll/HorizontalScroll.module.css
  packages/vkui/src/components/HorizontalScroll/HorizontalScroll.stories.tsx
  packages/vkui/src/components/HorizontalScroll/HorizontalScroll.tsx
  packages/vkui/src/components/HorizontalScroll/Readme.md
  packages/vkui/src/components/HorizontalScroll/__image_snapshots__/horizontalscroll-viewwidth-mobile-haspointer-false-android-chromium-dark-1-snap.png
  packages/vkui/src/components/HorizontalScroll/__image_snapshots__/horizontalscroll-viewwidth-mobile-haspointer-false-android-chromium-light-1-snap.png
  packages/vkui/src/components/HorizontalScroll/__image_snapshots__/horizontalscroll-viewwidth-small-tablet-haspointer-true-android-chromium-dark-1-snap.png
  packages/vkui/src/components/HorizontalScroll/__image_snapshots__/horizontalscroll-viewwidth-small-tablet-haspointer-true-android-chromium-light-1-snap.png
  packages/vkui/src/components/View/Readme.md
  packages/vkui/src/components/View/View.stories.tsx
Labels: cmp:horizontal-scroll, breaking-change, cmp:horizontal-cell-show-more

#7627 chore: add clean script before build
  packages/vkui/package.json
Labels: technical task

#7629 fix(TabsItem): gaps use first-child
  packages/vkui/src/components/TabsItem/TabsItem.module.css
Labels: type:bug, cmp:tabs-item, patch, v6

#7633 feat(Typography): make useAccentWeight=false by default
  packages/codemods/src/transforms/v7/__testfixtures__/typography/basic.input.tsx
  packages/codemods/src/transforms/v7/__tests__/__snapshots__/typography.ts.snap
  packages/codemods/src/transforms/v7/__tests__/typography.ts
  packages/codemods/src/transforms/v7/typography.ts
  packages/vkui/src/components/Typography/Typography.test.tsx
  packages/vkui/src/components/Typography/Typography.tsx
Labels: breaking-change

#7632 fix(Spacing): fix padding top with spacing tokens
  packages/vkui/src/components/Spacing/Spacing.e2e-playground.tsx
  packages/vkui/src/components/Spacing/Spacing.module.css
  packages/vkui/src/components/Spacing/Spacing.test.tsx
  packages/vkui/src/components/Spacing/Spacing.tsx
  packages/vkui/src/components/Spacing/__image_snapshots__/spacing-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Spacing/__image_snapshots__/spacing-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Spacing/__image_snapshots__/spacing-vkcom-webkit-light-1-snap.png
Labels: patch, v6

#7650 tech: fix clear command on codesandbox
  packages/vkui/package.json
Labels: technical task

#7648 fix: update calculateGap description
  packages/vkui/src/lib/layouts/gaps.ts
Labels: type:bug, docs, cmp:flex, cmp:simple-grid

#7657 fix(UseFloatingWithInteractions): fix bug with disableAfterClickClose in Tooltip
  packages/vkui/src/lib/floating/useFloatingWithInteractions/useFloatingWithInteractions.ts
Labels: patch, v6

#7649 build(deps): Bump `@vkontakte/vkui-floating-ui` from 0.2.1 to 0.2.3
  packages/vkui/package.json
  yarn.lock
Labels: dependencies, subpackage:@vkontakte/vkui-floating-ui

#7628 feat(ImageBaseOverlay): remove disableInteractive prop
  packages/codemods/src/codemod-helpers.ts
  packages/codemods/src/transforms/v7/__testfixtures__/image-overlay/image-base.input.tsx
  packages/codemods/src/transforms/v7/__testfixtures__/image-overlay/image.input.tsx
  packages/codemods/src/transforms/v7/__tests__/__snapshots__/image-overlay.ts.snap
  packages/codemods/src/transforms/v7/__tests__/image-overlay.ts
  packages/codemods/src/transforms/v7/image-overlay.ts
  packages/vkui/src/components/ImageBase/ImageBaseOverlay/ImageBaseOverlay.test.tsx
  packages/vkui/src/components/ImageBase/ImageBaseOverlay/ImageBaseOverlay.tsx
  packages/vkui/src/components/ImageBase/ImageBaseOverlay/types.ts
Labels: cmp:image-base.overlay, breaking-change

#7658 fix(CellButton): decrease space between icon and text
  packages/vkui/src/components/CellButton/CellButton.e2e-playground.tsx
  packages/vkui/src/components/CellButton/CellButton.module.css
  packages/vkui/src/components/CellButton/__image_snapshots__/cellbutton-android-chromium-dark-1-snap.png
  packages/vkui/src/components/CellButton/__image_snapshots__/cellbutton-android-chromium-light-1-snap.png
  packages/vkui/src/components/CellButton/__image_snapshots__/cellbutton-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/CellButton/__image_snapshots__/cellbutton-ios-webkit-light-1-snap.png
  packages/vkui/src/components/CellButton/__image_snapshots__/cellbutton-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/CellButton/__image_snapshots__/cellbutton-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/CellButton/__image_snapshots__/cellbutton-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/CellButton/__image_snapshots__/cellbutton-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/CellButton/__image_snapshots__/cellbutton-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/CellButton/__image_snapshots__/cellbutton-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/SimpleCell/SimpleCell.module.css
Labels: type:bug, cmp:cell-button, patch, v6

#7664 docs(SimpleCell): `expandable` description update
  packages/vkui/src/components/SimpleCell/SimpleCell.tsx
Labels: patch, v6

#7667 fix(AppRoot): Use memo for AppRootContext value
  packages/vkui/src/components/AppRoot/AppRoot.tsx
Labels: performance, patch, cmp:app-root, v6

#7674 docs(HorizontalScroll): rm TODO from description
  packages/vkui/src/components/HorizontalScroll/HorizontalScroll.tsx
Labels: patch
