Repository VKCOM/VKUI, pull requests merged in 2024-10, with the labels that each got.

#7686 fix(CarouselBase): fix error when no slides
  packages/vkui/src/components/BaseGallery/CarouselBase/CarouselBase.tsx
  packages/vkui/src/components/Gallery/Gallery.test.tsx
Labels: patch, v6

#7687 refactor(Separator): rename mode to appearance
  packages/codemods/src/transforms/v7/__testfixtures__/separator/basic.input.tsx
  packages/codemods/src/transforms/v7/__tests__/__snapshots__/separator.ts.snap
  packages/codemods/src/transforms/v7/__tests__/separator.ts
  packages/codemods/src/transforms/v7/separator.ts
  packages/vkui/src/components/Separator/Readme.md
  packages/vkui/src/components/Separator/Separator.module.css
  packages/vkui/src/components/Separator/Separator.test.tsx
  packages/vkui/src/components/Separator/Separator.tsx
Labels: cmp:separator, breaking-change

#7685 docs(MAINTAINERS): add glossary
  docs/MAINTAINERS.md
Labels: docs

#7689 fix: rewrite codemods package info
  packages/codemods/README.md
Labels: subpackage:@vkontakte/vkui-codemods

#7701 fix(vkui-floating-ui): esm with .mjs
  packages/vkui-floating-ui/package.json
Labels: subpackage:@vkontakte/vkui-floating-ui

#7713 build(deps-dev): Bump eslint-plugin-import from 2.30.0 to 2.31.0
  package.json
  yarn.lock
Labels: dependencies, javascript

#7718 refactor(Separator): rename wide to noPadding
  packages/codemods/src/transforms/v7/__testfixtures__/separator/basic.input.tsx
  packages/codemods/src/transforms/v7/__tests__/__snapshots__/separator.ts.snap
  packages/codemods/src/transforms/v7/separator.ts
  packages/vkui/src/components/FixedLayout/FixedLayout.e2e-playground.tsx
  packages/vkui/src/components/FixedLayout/FixedLayout.stories.tsx
  packages/vkui/src/components/FixedLayout/Readme.md
  packages/vkui/src/components/ModalPageHeader/ModalPageHeader.tsx
  packages/vkui/src/components/PanelHeader/PanelHeader.tsx
  packages/vkui/src/components/Separator/Readme.md
  packages/vkui/src/components/Separator/Separator.tsx
  packages/vkui/src/components/WriteBar/Readme.md
Labels: cmp:separator, breaking-change

#7734 fix(Button): import Tappable.module.css
  packages/vkui/src/components/Button/Button.tsx
Labels: type:bug, cmp:button, patch, v6

#7751 fix: add package.json to "exports" field
  packages/vkui/package.json
Labels: technical task

#7752 fix: fix generating screenshots names
  packages/vkui/playwright-ct.config.ts
  packages/vkui/src/testing/e2e/index.playwright.ts
Labels: type:bug, technical task

#7784 feat: enhance codemods
  packages/codemods/README.md
  packages/codemods/src/cli.ts
  packages/codemods/src/index.ts
  packages/codemods/src/transforms/v7/__testfixtures__/spacing/basic.input.tsx
  packages/codemods/src/transforms/v7/__tests__/__snapshots__/spacing.ts.snap
  packages/codemods/src/transforms/v7/cell-button.ts
  packages/codemods/src/transforms/v7/common/remapSizePropValue.ts
  packages/codemods/src/transforms/v7/config-provider.ts
  packages/codemods/src/transforms/v7/image-overlay.ts
  packages/codemods/src/transforms/v7/users-stack.ts
Labels: subpackage:@vkontakte/vkui-codemods

#7249 feat: use rspack
  package.json
  packages/vkui/package.json
  packages/vkui/rspack.styles.config.ts
  packages/vkui/scripts/postcss.d.ts
  packages/vkui/tsconfig.json
  packages/vkui/webpack.styles.config.js
  yarn.lock
Labels: research, no-stale

#7814 [v6]fix(FormItem): rm TODO from topNode description
  packages/vkui/src/components/FormItem/FormItem.tsx
Labels: docs, cmp:form-item, patch

#7812 feat(usePatchChildren): add reexport
  packages/vkui/src/hooks/usePatchChildren.test.tsx
  packages/vkui/src/hooks/usePatchChildren.ts
  packages/vkui/src/index.ts
Labels: type:feature

#7816 fix(CustomSelect): Fix input focus on arrow click on touch device
  packages/vkui/src/components/CustomSelect/CustomSelect.tsx
Labels: type:bug, cmp:custom-select, patch, v6

#7819 fix(FormLayoutGroup): FormItem width with long text in top prop makes second FormItem overflows
  packages/vkui/src/components/FormLayoutGroup/FormLayoutGroup.e2e-playground.tsx
  packages/vkui/src/components/FormLayoutGroup/FormLayoutGroup.module.css
  packages/vkui/src/components/FormLayoutGroup/__image_snapshots__/formlayoutgroup-android-chromium-dark-1-snap.png
  packages/vkui/src/components/FormLayoutGroup/__image_snapshots__/formlayoutgroup-android-chromium-light-1-snap.png
  packages/vkui/src/components/FormLayoutGroup/__image_snapshots__/formlayoutgroup-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/FormLayoutGroup/__image_snapshots__/formlayoutgroup-ios-webkit-light-1-snap.png
  packages/vkui/src/components/FormLayoutGroup/__image_snapshots__/formlayoutgroup-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/FormLayoutGroup/__image_snapshots__/formlayoutgroup-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/FormLayoutGroup/__image_snapshots__/formlayoutgroup-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/FormLayoutGroup/__image_snapshots__/formlayoutgroup-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/FormLayoutGroup/__image_snapshots__/formlayoutgroup-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/FormLayoutGroup/__image_snapshots__/formlayoutgroup-vkcom-webkit-light-1-snap.png
Labels: type:bug, cmp:form-layout-group, patch, v6

#7823 doc(CustomSelect): remove props autoHideScrollbar
  packages/vkui/src/components/CustomSelect/Readme.md
Labels: cmp:custom-select

#7821 fix: remove default a11y text
  packages/vkui/src/components/ScreenSpinner/ScreenSpinnerLoader.tsx
Labels: a11y, cmp:screen-spinner

#7820 fix: remove spinner todo
  packages/vkui/src/components/Button/Button.module.css
  packages/vkui/src/components/Button/Button.tsx
  packages/vkui/src/components/Spinner/Spinner.module.css
Labels: cmp:panel-header

#7828 refactor(useCounter): add docs and tests
  packages/vkui/src/components/AppRoot/ScrollContext.tsx
  packages/vkui/src/hooks/useCounter.test.tsx
  packages/vkui/src/hooks/useCounter.ts
Labels: type:enhancement, technical task

#7831 fix(CalendarTime): fix picker width
  packages/vkui/src/components/Calendar/__image_snapshots__/calendar-android-chromium-dark-1-snap.png
  packages/vkui/src/components/Calendar/__image_snapshots__/calendar-android-chromium-light-1-snap.png
  packages/vkui/src/components/Calendar/__image_snapshots__/calendar-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/Calendar/__image_snapshots__/calendar-ios-webkit-light-1-snap.png
  packages/vkui/src/components/Calendar/__image_snapshots__/calendar-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Calendar/__image_snapshots__/calendar-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Calendar/__image_snapshots__/calendar-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/Calendar/__image_snapshots__/calendar-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Calendar/__image_snapshots__/calendar-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/Calendar/__image_snapshots__/calendar-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/CalendarTime/CalendarTime.module.css
Labels: type:bug, cmp:calendar

#7837 [BREAKING CHANGE] feat(FormItem): remove topNode
  packages/codemods/src/transforms/v7/__tests__/__snapshots__/form-item.ts.snap
  packages/codemods/src/transforms/v7/form-item.ts
  packages/vkui/src/components/FormItem/FormItem.e2e-playground.tsx
  packages/vkui/src/components/FormItem/FormItem.stories.tsx
  packages/vkui/src/components/FormItem/FormItem.test.tsx
  packages/vkui/src/components/FormItem/FormItem.tsx
  packages/vkui/src/components/FormItem/FormItemTop/FormItemTop.mdx
  packages/vkui/src/components/FormItem/Readme.md
Labels: cmp:form-item, breaking-change

#7840 feat(DatePicker): rm component
  packages/codemods/src/transforms/v7/date-picker.ts
  packages/vkui/src/components/DatePicker/DatePicker.e2e-playground.tsx
  packages/vkui/src/components/DatePicker/DatePicker.e2e.tsx
  packages/vkui/src/components/DatePicker/DatePicker.module.css
  packages/vkui/src/components/DatePicker/DatePicker.stories.tsx
  packages/vkui/src/components/DatePicker/DatePicker.test.tsx
  packages/vkui/src/components/DatePicker/DatePicker.tsx
  packages/vkui/src/components/DatePicker/Readme.md
  packages/vkui/src/components/DatePicker/__image_snapshots__/datepicker-android-chromium-dark-1-snap.png
  packages/vkui/src/components/DatePicker/__image_snapshots__/datepicker-android-chromium-light-1-snap.png
  packages/vkui/src/components/DatePicker/__image_snapshots__/datepicker-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/DatePicker/__image_snapshots__/datepicker-ios-webkit-light-1-snap.png
  packages/vkui/src/components/DatePicker/__image_snapshots__/datepicker-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/DatePicker/__image_snapshots__/datepicker-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/DatePicker/__image_snapshots__/datepicker-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/DatePicker/__image_snapshots__/datepicker-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/DatePicker/__image_snapshots__/datepicker-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/DatePicker/__image_snapshots__/datepicker-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/FormLayoutGroup/FormLayoutGroup.e2e-playground.tsx
  packages/vkui/src/components/FormLayoutGroup/__image_snapshots__/formlayoutgroup-android-chromium-dark-1-snap.png
  packages/vkui/src/components/FormLayoutGroup/__image_snapshots__/formlayoutgroup-android-chromium-light-1-snap.png
  packages/vkui/src/components/FormLayoutGroup/__image_snapshots__/formlayoutgroup-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/FormLayoutGroup/__image_snapshots__/formlayoutgroup-ios-webkit-light-1-snap.png
  packages/vkui/src/components/FormLayoutGroup/__image_snapshots__/formlayoutgroup-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/FormLayoutGroup/__image_snapshots__/formlayoutgroup-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/FormLayoutGroup/__image_snapshots__/formlayoutgroup-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/FormLayoutGroup/__image_snapshots__/formlayoutgroup-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/FormLayoutGroup/__image_snapshots__/formlayoutgroup-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/FormLayoutGroup/__image_snapshots__/formlayoutgroup-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/ModalPage/ModalPage.stories.tsx
  packages/vkui/src/components/ModalRoot/Readme.md
  packages/vkui/src/index.ts
  styleguide/config.js
Labels: cmp:date-picker, breaking-change

#7834 docs: use local path
  docs/CONTRIBUTING.md
  docs/MAINTAINERS.md
Labels: docs

#7833 refactor(css): rm deadly code
  packages/vkui/src/components/Button/Button.module.css
  packages/vkui/src/components/Button/Button.tsx
  packages/vkui/src/components/Flex/FlexItem/FlexItem.module.css
  packages/vkui/src/components/Flex/FlexItem/FlexItem.tsx
  packages/vkui/src/hooks/useAdaptivityConditionalRender/constants.ts
  packages/vkui/src/hooks/useAdaptivityConditionalRender/helpers.ts
  packages/vkui/src/hooks/useAdaptivityConditionalRender/useAdaptivityConditionalRender.test.tsx
  packages/vkui/src/hooks/useAdaptivityConditionalRender/useAdaptivityConditionalRender.tsx
  packages/vkui/src/styles/adaptivity.module.css
Labels: technical task, adaptivity

#7862 fix(Gallery): navigation doesn't work when align="center" and slides overflow just a little
  packages/vkui/src/components/BaseGallery/BaseGallery.tsx
  packages/vkui/src/components/Gallery/Gallery.test.tsx
Labels: v6

#7857 fix: hash classes
  packages/vkui/package.swcrc
  packages/vkui/rspack.styles.config.ts
  packages/vkui/src/components/CustomSelect/CustomSelect.test.tsx
  packages/vkui/src/components/HorizontalCell/HorizontalCell.test.tsx
  shared.js
Labels: technical task

#7861 feat(SimpleCell): rename subhead to overTitle
  packages/codemods/src/transforms/v7/__testfixtures__/cell-button/basic.input.tsx
  packages/codemods/src/transforms/v7/__testfixtures__/cell/basic.input.tsx
  packages/codemods/src/transforms/v7/__testfixtures__/simple-cell/basic.input.tsx
  packages/codemods/src/transforms/v7/__tests__/__snapshots__/cell-button.ts.snap
  packages/codemods/src/transforms/v7/__tests__/__snapshots__/cell.ts.snap
  packages/codemods/src/transforms/v7/__tests__/__snapshots__/simple-cell.ts.snap
  packages/codemods/src/transforms/v7/cell-button.ts
  packages/codemods/src/transforms/v7/cell.ts
  packages/codemods/src/transforms/v7/simple-cell.ts
  packages/vkui/src/components/CellButton/CellButton.stories.tsx
  packages/vkui/src/components/SimpleCell/SimpleCell.e2e-playground.tsx
  packages/vkui/src/components/SimpleCell/SimpleCell.module.css
  packages/vkui/src/components/SimpleCell/SimpleCell.stories.tsx
  packages/vkui/src/components/SimpleCell/SimpleCell.tsx
  packages/vkui/src/components/SimpleCell/__image_snapshots__/simplecell-android-chromium-dark-1-snap.png
  packages/vkui/src/components/SimpleCell/__image_snapshots__/simplecell-android-chromium-light-1-snap.png
  packages/vkui/src/components/SimpleCell/__image_snapshots__/simplecell-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/SimpleCell/__image_snapshots__/simplecell-ios-webkit-light-1-snap.png
  packages/vkui/src/components/SimpleCell/__image_snapshots__/simplecell-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/SimpleCell/__image_snapshots__/simplecell-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/SimpleCell/__image_snapshots__/simplecell-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/SimpleCell/__image_snapshots__/simplecell-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/SimpleCell/__image_snapshots__/simplecell-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/SimpleCell/__image_snapshots__/simplecell-vkcom-webkit-light-1-snap.png
Labels: cmp:cell, cmp:simple-cell, cmp:cell-button, breaking-change

#7863 feat(Header): rm mode prop and increase size values
  README.md
  packages/codemods/src/transforms/v7/__testfixtures__/header/basic.input.tsx
  packages/codemods/src/transforms/v7/__tests__/__snapshots__/header.ts.snap
  packages/codemods/src/transforms/v7/header.ts
  packages/vkui/src/components/Avatar/Readme.md
  packages/vkui/src/components/Badge/Readme.md
  packages/vkui/src/components/Card/Readme.md
  packages/vkui/src/components/CellButton/Readme.md
  packages/vkui/src/components/Counter/Readme.md
  packages/vkui/src/components/CustomScrollView/Readme.md
  packages/vkui/src/components/Gallery/Readme.md
  packages/vkui/src/components/Gradient/Readme.md
  packages/vkui/src/components/Group/Readme.md
  packages/vkui/src/components/Group/__image_snapshots__/group-android-chromium-dark-1-snap.png
  packages/vkui/src/components/Group/__image_snapshots__/group-android-chromium-light-1-snap.png
  packages/vkui/src/components/Group/__image_snapshots__/group-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/Group/__image_snapshots__/group-ios-webkit-light-1-snap.png
  packages/vkui/src/components/Group/__image_snapshots__/group-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Group/__image_snapshots__/group-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Group/__image_snapshots__/group-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/Group/__image_snapshots__/group-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Group/__image_snapshots__/group-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/Group/__image_snapshots__/group-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/Header/Header.e2e-playground.tsx
  packages/vkui/src/components/Header/Header.module.css
  packages/vkui/src/components/Header/Header.stories.tsx
  packages/vkui/src/components/Header/Header.test.tsx
  packages/vkui/src/components/Header/Header.tsx
  packages/vkui/src/components/Header/Readme.md
  packages/vkui/src/components/Header/__image_snapshots__/header-android-chromium-dark-1-snap.png
  packages/vkui/src/components/Header/__image_snapshots__/header-android-chromium-light-1-snap.png
  packages/vkui/src/components/Header/__image_snapshots__/header-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/Header/__image_snapshots__/header-ios-webkit-light-1-snap.png
  packages/vkui/src/components/Header/__image_snapshots__/header-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Header/__image_snapshots__/header-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Header/__image_snapshots__/header-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/Header/__image_snapshots__/header-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Header/__image_snapshots__/header-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/Header/__image_snapshots__/header-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/HorizontalScroll/HorizontalScroll.stories.tsx
  packages/vkui/src/components/HorizontalScroll/Readme.md
  packages/vkui/src/components/Image/Readme.md
  packages/vkui/src/components/InfoRow/InfoRow.stories.tsx
  packages/vkui/src/components/InfoRow/Readme.md
  packages/vkui/src/components/ModalPage/ModalPage.stories.tsx
  packages/vkui/src/components/ModalRoot/Readme.md
  packages/vkui/src/components/PanelSpinner/Readme.md
  packages/vkui/src/components/Separator/Readme.md
  packages/vkui/src/components/SimpleCell/Readme.md
  packages/vkui/src/components/Spacing/Readme.md
  packages/vkui/src/components/Touch/Readme.md
  packages/vkui/src/components/UsersStack/Readme.md
Labels: cmp:header, breaking-change
