Repository VKCOM/VKUI, pull requests merged in 2025-03, with the labels that each got.

#8309 feat(ModalCard): Allow to connect title with modal name
  packages/vkui/src/components/ModalCard/ModalCard.test.tsx
  packages/vkui/src/components/ModalCard/ModalCard.tsx
  packages/vkui/src/components/ModalCard/Readme.md
  packages/vkui/src/components/ModalCardBase/ModalCardBase.tsx
  packages/vkui/src/components/ModalCardBase/Readme.md
Labels: cmp:modal-card, cmp:modal-card-base, a11y

#8322 feat(Popover, OnboardingTooltip): add prop disableFocusTrap
  packages/vkui/src/components/OnboardingTooltip/OnboardingTooltip.tsx
  packages/vkui/src/components/Popover/Popover.tsx
  packages/vkui/src/components/Popover/usePopover.tsx
  packages/vkui/src/lib/floating/types/component.ts
Labels: type:feature, cmp:popover, cmp:onboarding-tooltip

#8323 tech(ModalPage): add ModalPageBase component with implementation of modal
  packages/vkui/src/components/ModalPage/ModalPageBase.tsx
  packages/vkui/src/components/ModalPage/ModalPageInternal.tsx
Labels: cmp:modal-page

#8324 tech(Alert): add AlertBase component with implementation of alert modal
  packages/vkui/src/components/Alert/Alert.tsx
  packages/vkui/src/components/Alert/AlertBase.tsx
Labels: cmp:alert

#8291 feat(storybook): add components overview page
  docs/CONTRIBUTING.md
  packages/vkui/.storybook/addons/documentation-button/DocumentationButton.tsx
  packages/vkui/.storybook/addons/source-button/SourceButton.tsx
  packages/vkui/.storybook/main.ts
  packages/vkui/docs/components-overview/ComponentsOverview.module.css
  packages/vkui/docs/components-overview/ComponentsOverview.tsx
  packages/vkui/docs/components-overview/components/ComponentOverviewCard.module.css
  packages/vkui/docs/components-overview/components/ComponentOverviewCard.tsx
  packages/vkui/docs/components-overview/components/ComponentOverviewCardWrapper.tsx
  packages/vkui/docs/components-overview/config.tsx
  packages/vkui/docs/components-overview/custom-components-preview/ActionSheetPreview.tsx
  packages/vkui/docs/components-overview/custom-components-preview/CustomScrollViewPreview.tsx
  packages/vkui/docs/components-overview/custom-components-preview/HorizontalScrollPreview.tsx
  packages/vkui/docs/components-overview/custom-components-preview/ImageDecorator.tsx
  packages/vkui/docs/components-overview/custom-components-preview/ModalPageBasePreview.tsx
  packages/vkui/docs/components-overview/custom-components-preview/ModalPageHeaderPreview.tsx
  packages/vkui/docs/components-overview/custom-components-preview/PanelHeaderContentPreview.tsx
  packages/vkui/docs/components-overview/custom-components-preview/PanelHeaderContextPreview.tsx
  packages/vkui/docs/components-overview/custom-components-preview/PanelHeaderPreview.tsx
  packages/vkui/docs/components-overview/custom-components-preview/PanelPreview.tsx
  packages/vkui/docs/components-overview/custom-components-preview/ScreenSpinnerPreview.tsx
  packages/vkui/docs/components-overview/custom-components-preview/SeparatorDecorator.tsx
  packages/vkui/docs/components-overview/custom-components-preview/SpacingDecorator.tsx
  packages/vkui/docs/components-overview/hooks/useGetConfigByQuery.ts
  packages/vkui/docs/components-overview/hooks/useGetGlobalParams.ts
  packages/vkui/docs/components.overview.mdx
  packages/vkui/src/components/ActionSheet/ActionSheet.stories.tsx
  packages/vkui/src/components/Button/Button.stories.tsx
  packages/vkui/src/components/Calendar/Calendar.stories.tsx
  packages/vkui/src/components/CalendarRange/CalendarRange.stories.tsx
  packages/vkui/src/components/ContentBadge/ContentBadge.stories.tsx
  packages/vkui/src/components/DateRangeInput/DateRangeInput.stories.tsx
  packages/vkui/src/components/Gallery/Gallery.stories.tsx
  packages/vkui/src/components/HorizontalCell/HorizontalCell.stories.tsx
  packages/vkui/src/components/Link/Link.stories.tsx
  packages/vkui/src/components/ModalCard/ModalCard.stories.tsx
  packages/vkui/src/components/ModalPage/ModalPage.stories.tsx
  packages/vkui/src/components/ModalPageHeader/ModalPageHeader.stories.tsx
  packages/vkui/src/components/Pagination/Pagination.stories.tsx
  packages/vkui/src/components/Panel/Panel.stories.tsx
  packages/vkui/src/components/PanelHeader/PanelHeader.stories.tsx
  packages/vkui/src/components/PanelHeaderContent/PanelHeaderContent.stories.tsx
  packages/vkui/src/components/PanelHeaderContext/PanelHeaderContext.stories.tsx
  packages/vkui/src/components/Popper/Popper.stories.tsx
  packages/vkui/src/components/Snackbar/subcomponents/Basic/Basic.stories.tsx
  packages/vkui/src/components/SplitLayout/SplitLayout.stories.tsx
  packages/vkui/src/components/SubnavigationBar/SubnavigationBar.stories.tsx
  packages/vkui/src/components/TabbarItem/TabbarItem.stories.tsx
  packages/vkui/src/components/Tabs/Tabs.stories.tsx
  packages/vkui/src/components/TabsItem/TabsItem.stories.tsx
  packages/vkui/src/testing/useCustomArgs.ts
Labels: technical task

#8329 fix(Clickable): add role=link for <a>
  packages/vkui/src/components/Clickable/Clickable.test.tsx
  packages/vkui/src/components/Clickable/Clickable.tsx
  packages/vkui/src/components/TabsItem/TabsItem.module.css
  packages/vkui/src/hooks/useTabsNavigation.ts
Labels: cmp:clickable

#8333 feat(Search): Add testId to clear button
  packages/vkui/src/components/Search/Search.test.tsx
  packages/vkui/src/components/Search/Search.tsx
Labels: type:feature, cmp:search

#8110 feat(HorizontalScroll, CardScroll): fix rtl view
  packages/vkui/src/components/CardScroll/CardScroll.e2e-playground.tsx
  packages/vkui/src/components/CardScroll/CardScroll.test.tsx
  packages/vkui/src/components/CardScroll/CardScroll.tsx
  packages/vkui/src/components/CardScroll/__image_snapshots__/cardscroll-android-chromium-dark-1-snap.png
  packages/vkui/src/components/CardScroll/__image_snapshots__/cardscroll-android-chromium-light-1-snap.png
  packages/vkui/src/components/CardScroll/__image_snapshots__/cardscroll-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/CardScroll/__image_snapshots__/cardscroll-ios-webkit-light-1-snap.png
  packages/vkui/src/components/CardScroll/__image_snapshots__/cardscroll-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/CardScroll/__image_snapshots__/cardscroll-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/CardScroll/__image_snapshots__/cardscroll-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/CardScroll/__image_snapshots__/cardscroll-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/CardScroll/__image_snapshots__/cardscroll-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/CardScroll/__image_snapshots__/cardscroll-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/HorizontalScroll/HorizontalScroll.e2e-playground.tsx
  packages/vkui/src/components/HorizontalScroll/HorizontalScroll.module.css
  packages/vkui/src/components/HorizontalScroll/HorizontalScroll.test.tsx
  packages/vkui/src/components/HorizontalScroll/HorizontalScroll.tsx
  packages/vkui/src/components/HorizontalScroll/__image_snapshots__/horizontalscroll-viewwidth-mobile-haspointer-false-android-chromium-dark-1-snap.png
  packages/vkui/src/components/HorizontalScroll/__image_snapshots__/horizontalscroll-viewwidth-mobile-haspointer-false-android-chromium-light-1-snap.png
  packages/vkui/src/components/HorizontalScroll/__image_snapshots__/horizontalscroll-viewwidth-small-tablet-haspointer-true-android-chromium-dark-1-snap.png
  packages/vkui/src/components/HorizontalScroll/__image_snapshots__/horizontalscroll-viewwidth-small-tablet-haspointer-true-android-chromium-light-1-snap.png
Labels: type:feature, cmp:horizontal-scroll, cmp:card-scroll

#8357 fix(Snackbar): break-word
  packages/vkui/src/components/Snackbar/subcomponents/Basic/Basic.e2e-playground.tsx
  packages/vkui/src/components/Snackbar/subcomponents/Basic/Basic.module.css
  packages/vkui/src/components/Snackbar/subcomponents/Basic/__image_snapshots__/snackbarbasic-android-chromium-dark-1-snap.png
  packages/vkui/src/components/Snackbar/subcomponents/Basic/__image_snapshots__/snackbarbasic-android-chromium-light-1-snap.png
  packages/vkui/src/components/Snackbar/subcomponents/Basic/__image_snapshots__/snackbarbasic-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/Snackbar/subcomponents/Basic/__image_snapshots__/snackbarbasic-ios-webkit-light-1-snap.png
  packages/vkui/src/components/Snackbar/subcomponents/Basic/__image_snapshots__/snackbarbasic-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Snackbar/subcomponents/Basic/__image_snapshots__/snackbarbasic-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/Snackbar/subcomponents/Basic/__image_snapshots__/snackbarbasic-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/Snackbar/subcomponents/Basic/__image_snapshots__/snackbarbasic-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/Snackbar/subcomponents/Basic/__image_snapshots__/snackbarbasic-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/Snackbar/subcomponents/Basic/__image_snapshots__/snackbarbasic-vkcom-webkit-light-1-snap.png
Labels: cmp:snackbar

#8332 fix(CustomSelect/DateInput): placement configuration
  packages/vkui/src/components/CustomSelectDropdown/CustomSelectDropdown.tsx
  packages/vkui/src/components/DateInput/DateInput.tsx
  packages/vkui/src/components/DateRangeInput/DateRangeInput.tsx
  packages/vkui/src/components/Popper/Popper.tsx
  packages/vkui/src/lib/floating/adapters.ts
  packages/vkui/src/lib/floating/useFloatingMiddlewaresBootstrap/index.ts
Labels: type:bug, cmp:custom-select, cmp:date-input, cmp:date-range-input, patch

#8366 feat(Search): Add testid for find button
  packages/vkui/src/components/Search/Search.test.tsx
  packages/vkui/src/components/Search/Search.tsx
Labels: type:feature, cmp:search

#8335 fix(ImageBaseOverlay): fix blinking with default visibility value
  packages/vkui/src/components/ImageBase/ImageBaseOverlay/ImageBaseOverlay.tsx
  packages/vkui/src/components/ImageBase/ImageBaseOverlay/hooks.test.tsx
  packages/vkui/src/components/ImageBase/ImageBaseOverlay/hooks.ts
  packages/vkui/src/components/ImageBase/ImageBaseOverlay/types.ts
Labels: type:bug, cmp:avatar, cmp:image-base, cmp:image-base.overlay

#8363 feat(OnboardingTooltipContainer): tooltip container from context
  packages/vkui/src/components/OnboardingTooltip/OnboardingTooltip.tsx
  packages/vkui/src/components/OnboardingTooltip/OnboardingTooltipContainer.tsx
  packages/vkui/src/components/OnboardingTooltip/OnboardingTooltipContext.tsx
Labels: cmp:onboarding-tooltip

#8336 feat(storybook): add icons overview page
  packages/vkui/docs/common/components/GoToUpButton.tsx
  packages/vkui/docs/common/components/OverviewLayout.module.css
  packages/vkui/docs/common/components/OverviewLayout.tsx
  packages/vkui/docs/common/components/OverviewLayoutContext.ts
  packages/vkui/docs/common/hooks/useGetConfigByQuery.ts
  packages/vkui/docs/common/hooks/useGetGlobalParams.ts
  packages/vkui/docs/common/hooks/useInfiniteList.tsx
  packages/vkui/docs/components-overview/ComponentsOverview.module.css
  packages/vkui/docs/components-overview/ComponentsOverview.tsx
  packages/vkui/docs/components-overview/components/ComponentOverviewCard.tsx
  packages/vkui/docs/icons-overview/IconsOverview.module.css
  packages/vkui/docs/icons-overview/IconsOverview.tsx
  packages/vkui/docs/icons-overview/components/ColorPickerControl.module.css
  packages/vkui/docs/icons-overview/components/ColorPickerControl.tsx
  packages/vkui/docs/icons-overview/config.tsx
  packages/vkui/docs/icons.overview.mdx
Labels: technical task

#8327 fix(useTodayDate): Use new date when date is updated in timeout
  packages/vkui/jest.config.ts
  packages/vkui/jest.global-setup.ts
  packages/vkui/src/hooks/useTodayDate.test.ts
  packages/vkui/src/hooks/useTodayDate.ts
Labels: type:bug, patch

#8360 fix(Flex): improve className withGaps calculation
  packages/vkui/src/components/Flex/Flex.module.css
  packages/vkui/src/components/Flex/Flex.tsx
  packages/vkui/src/components/Flex/Readme.md
Labels: type:bug, cmp:flex

#8382 fix(Separator): fix docs typo
  packages/vkui/src/components/Separator/Readme.md
Labels: ci:cherry-pick:patch

#8362 refactor(CellButtonGroup): use ButtonGroup as base
  packages/vkui/src/components/ButtonGroup/ButtonGroup.tsx
  packages/vkui/src/components/ButtonGroup/Readme.md
  packages/vkui/src/components/CellButtonGroup/CellButtonGroup.e2e-playground.tsx
  packages/vkui/src/components/CellButtonGroup/CellButtonGroup.module.css
  packages/vkui/src/components/CellButtonGroup/CellButtonGroup.stories.tsx
  packages/vkui/src/components/CellButtonGroup/CellButtonGroup.tsx
  packages/vkui/src/components/CellButtonGroup/CellButtonGroupSeparator/CellButtonGroupSeparator.module.css
  packages/vkui/src/components/CellButtonGroup/CellButtonGroupSeparator/CellButtonGroupSeparator.tsx
  packages/vkui/src/components/CellButtonGroup/Readme.md
Labels: cmp:cell-button, cmp:cell-button-group

#8399 fix(ChipsSelect): renderChip prop type fix
  packages/vkui/src/components/ChipsInputBase/types.ts
Labels: type:bug, cmp:chips-select, ci:cherry-pick:patch

#8383 feat: icons v3
  packages/vkui-docs-theme/package.json
  packages/vkui/jest.config.ts
  packages/vkui/package.json
  packages/vkui/src/components/Avatar/__image_snapshots__/avatar-android-chromium-dark-1-snap.png
  packages/vkui/src/components/Avatar/__image_snapshots__/avatar-android-chromium-light-1-snap.png
  packages/vkui/src/components/Avatar/__image_snapshots__/avatar-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/Avatar/__image_snapshots__/avatar-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/HorizontalScroll/HorizontalCellShowMore/HorizontalCellShowMore.tsx
  packages/vkui/src/components/ImageBase/validators.ts
  packages/vkui/src/components/Spinner/Spinner.tsx
  packages/vkui/src/components/Spinner/icons.tsx
  packages/vkui/src/components/Tabs/__image_snapshots__/tabs-android-chromium-dark-1-snap.png
  packages/vkui/src/components/Tabs/__image_snapshots__/tabs-android-chromium-light-1-snap.png
  yarn.lock
Labels: type:feature, dependencies

#8406 fix(ModalPage, ModalCard): fix id warn
  packages/vkui/src/components/ModalCard/ModalCard.tsx
  packages/vkui/src/components/ModalPage/ModalPage.tsx
  packages/vkui/src/components/ModalRoot/useModalManager.tsx
Labels: ci:cherry-pick:patch
