Repository VKCOM/VKUI, pull requests merged in 2025-09, with the labels that each got.

#8805 feat(Gallery): improve a11y
  packages/vkui/src/components/CarouselBase/CarouselBase.module.css
  packages/vkui/src/components/CarouselBase/CarouselBase.tsx
  packages/vkui/src/components/CarouselBase/CarouselViewPort.tsx
  packages/vkui/src/components/CarouselBase/ScrollArrows.tsx
  packages/vkui/src/components/CarouselBase/types.ts
  packages/vkui/src/components/Gallery/Gallery.stories.tsx
  packages/vkui/src/components/Gallery/Gallery.test.tsx
  packages/vkui/src/components/Gallery/Gallery.tsx
  packages/vkui/src/styles/constants.css
  website/content/components/gallery.mdx
Labels: no-stale

#8953 fix(CustomSelect): fix fetching status by default
  packages/vkui/src/components/CustomSelect/CustomSelect.test.tsx
  packages/vkui/src/components/CustomSelect/CustomSelect.tsx
Labels: type:bug, cmp:custom-select, ci:cherry-pick:patch

#8969 feat: add next-env.d.ts to gitignore
  .gitignore
  examples/vkui-nextjs-ts/.gitignore
  examples/vkui-nextjs-ts/next-env.d.ts
  website/next-env.d.ts
Labels: technical task

#8981 fix: improve and fix documentation
  packages/vkui-docs-theme/src/mdx/Code/Code.module.css
  packages/vkui-docs-theme/src/mdx/index.module.css
  website/app/_components/Versions/VersionsModal.tsx
  website/content/components/custom-select.mdx
  website/content/components/date-input.mdx
  website/content/components/date-range-input.mdx
Labels: type:bug, docs, ci:cherry-pick:patch

#8994 tech: remove jsdom dependency
  package.json
  yarn.lock
Labels: technical task

#8998 fix(TabsItem): fix onClick prop without controlled mode
  packages/vkui/src/components/TabsItem/TabsItem.tsx
Labels: type:bug, cmp:tabs-item, ci:cherry-pick:patch

#9009 fix(CalendarHeader): fix yearDropdownTestId with function
  packages/vkui/src/components/CalendarHeader/CalendarHeader.test.tsx
  packages/vkui/src/components/CalendarHeader/CalendarHeader.tsx
Labels: type:bug, ci:cherry-pick:patch, cmp:calendar
