Repository VKCOM/VKUI, pull requests merged in 2025-06, with the labels that each got.

#8635 tech: migrate storybook from 8 to 9
  package.json
  packages/vkui/.eslintrc.cjs
  packages/vkui/.storybook/addons/colorScheme/ColorSchemeSwitch.tsx
  packages/vkui/.storybook/addons/colorScheme/register.ts
  packages/vkui/.storybook/addons/customPanelHeaderAfter/HasCustomPanelHeaderAfter.tsx
  packages/vkui/.storybook/addons/customPanelHeaderAfter/register.ts
  packages/vkui/.storybook/addons/documentation-button/DocumentationButton.tsx
  packages/vkui/.storybook/addons/documentation-button/register.ts
  packages/vkui/.storybook/addons/pointer/HasPointer.tsx
  packages/vkui/.storybook/addons/pointer/register.ts
  packages/vkui/.storybook/addons/source-button/SourceButton.tsx
  packages/vkui/.storybook/addons/source-button/register.ts
  packages/vkui/.storybook/addons/source-tab/SourceTab.tsx
  packages/vkui/.storybook/addons/source-tab/register.tsx
  packages/vkui/.storybook/addons/storybook-theme/StorybookTheme.tsx
  packages/vkui/.storybook/addons/storybook-theme/register.ts
  packages/vkui/.storybook/addons/storybook-theme/vkuiThemes.ts
  packages/vkui/.storybook/helpers/index.ts
  packages/vkui/.storybook/main.ts
  packages/vkui/.storybook/preview-head.html
  packages/vkui/.storybook/preview.css
  packages/vkui/.storybook/preview.ts
  packages/vkui/docs/components.overview.mdx
  packages/vkui/docs/icons.overview.mdx
  packages/vkui/package.json
  packages/vkui/src/components/Accordion/Accordion.stories.tsx
  packages/vkui/src/components/AppRoot/AppRoot.mdx
  packages/vkui/src/components/ChipsInput/ChipsInput.stories.tsx
  packages/vkui/src/components/ChipsSelect/ChipsSelect.stories.tsx
  packages/vkui/src/components/ContentBadge/ContentBadge.stories.tsx
  packages/vkui/src/components/CustomScrollView/CustomScrollView.stories.tsx
  packages/vkui/src/components/CustomSelect/CustomSelect.stories.tsx
  packages/vkui/src/components/CustomSelectOption/CustomSelectOption.stories.tsx
  packages/vkui/src/components/DateInput/DateInput.stories.tsx
  packages/vkui/src/components/FormItem/FormItemTop/FormItemTop.mdx
  packages/vkui/src/components/ModalCard/ModalCard.stories.tsx
  packages/vkui/src/components/ModalPage/ModalPage.stories.tsx
  packages/vkui/src/components/SegmentedControl/SegmentedControl.stories.tsx
  packages/vkui/src/components/Select/Select.stories.tsx
  packages/vkui/src/components/Tabs/Tabs.stories.tsx
  packages/vkui/src/components/Textarea/Textarea.stories.tsx
  packages/vkui/src/components/Touch/Touch.stories.tsx
  packages/vkui/src/components/UnstyledTextField/UnstyledTextField.mdx
  packages/vkui/src/components/WriteBar/WriteBar.stories.tsx
  packages/vkui/src/storybook/constants.ts
  packages/vkui/src/testing/useCustomArgs.ts
  tools/storybook-addon-cartesian/package.json
  tools/storybook-addon-cartesian/src/Tool.tsx
  tools/storybook-addon-cartesian/src/preset/manager.tsx
  tools/storybook-addon-cartesian/src/withCartesian.tsx
  yarn.lock
Labels: docs, technical task

#8614 feat: add visibilityDelay
  packages/vkui/src/components/ScreenSpinner/ScreenSpinner.test.tsx
  packages/vkui/src/components/ScreenSpinner/ScreenSpinner.tsx
  packages/vkui/src/components/ScreenSpinner/ScreenSpinnerContainer.tsx
  packages/vkui/src/components/Skeleton/Skeleton.test.tsx
  packages/vkui/src/components/Skeleton/Skeleton.tsx
  packages/vkui/src/components/Spinner/Spinner.test.tsx
  packages/vkui/src/components/Spinner/Spinner.tsx
  packages/vkui/src/styles/animationVisibilityDelay.module.css
  packages/vkui/src/styles/animationVisibilityDelay.ts
Labels: type:feature, cmp:spinner, cmp:screen-spinner, cmp:panel-spinner, cmp:skeleton

#8665 fix: export CellButtonGroup
  packages/vkui/src/index.ts
Labels: ci:cherry-pick:patch, cmp:cell-button-group

#8515 feat(CalendarRange): make accessible from keyboard and screen reader
  packages/vkui/src/components/Calendar/Calendar.test.tsx
  packages/vkui/src/components/Calendar/Calendar.tsx
  packages/vkui/src/components/CalendarRange/CalendarRange.test.tsx
  packages/vkui/src/components/CalendarRange/CalendarRange.tsx
  packages/vkui/src/components/CalendarRange/types.ts
  packages/vkui/src/components/CalendarRange/utils.ts
  packages/vkui/src/hooks/useCalendar.ts
Labels: a11y, no-stale, cmp:calendar-range

#8685 fix(HorizontalScroll): showArrows=always with hover effect
  packages/vkui/src/components/CardScroll/__image_snapshots__/cardscroll-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/CardScroll/__image_snapshots__/cardscroll-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/CardScroll/__image_snapshots__/cardscroll-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/CardScroll/__image_snapshots__/cardscroll-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/CardScroll/__image_snapshots__/cardscroll-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/CardScroll/__image_snapshots__/cardscroll-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/HorizontalScroll/HorizontalScroll.e2e-playground.tsx
  packages/vkui/src/components/HorizontalScroll/HorizontalScroll.module.css
  packages/vkui/src/components/HorizontalScroll/__image_snapshots__/horizontalscroll-does-not-have-arrows-without-mouse-android-chromium-dark-1-snap.png
  packages/vkui/src/components/HorizontalScroll/__image_snapshots__/horizontalscroll-does-not-have-arrows-without-mouse-android-chromium-light-1-snap.png
  packages/vkui/src/components/HorizontalScroll/__image_snapshots__/horizontalscroll-does-not-have-arrows-without-mouse-ios-webkit-dark-1-snap.png
  packages/vkui/src/components/HorizontalScroll/__image_snapshots__/horizontalscroll-does-not-have-arrows-without-mouse-ios-webkit-light-1-snap.png
  packages/vkui/src/components/HorizontalScroll/__image_snapshots__/horizontalscroll-does-not-have-arrows-without-mouse-vkcom-chromium-dark-1-snap.png
  packages/vkui/src/components/HorizontalScroll/__image_snapshots__/horizontalscroll-does-not-have-arrows-without-mouse-vkcom-chromium-light-1-snap.png
  packages/vkui/src/components/HorizontalScroll/__image_snapshots__/horizontalscroll-does-not-have-arrows-without-mouse-vkcom-firefox-dark-1-snap.png
  packages/vkui/src/components/HorizontalScroll/__image_snapshots__/horizontalscroll-does-not-have-arrows-without-mouse-vkcom-firefox-light-1-snap.png
  packages/vkui/src/components/HorizontalScroll/__image_snapshots__/horizontalscroll-does-not-have-arrows-without-mouse-vkcom-webkit-dark-1-snap.png
  packages/vkui/src/components/HorizontalScroll/__image_snapshots__/horizontalscroll-does-not-have-arrows-without-mouse-vkcom-webkit-light-1-snap.png
  packages/vkui/src/components/HorizontalScroll/__image_snapshots__/horizontalscroll-viewwidth-small-tablet-haspointer-true-android-chromium-dark-1-snap.png
  packages/vkui/src/components/HorizontalScroll/__image_snapshots__/horizontalscroll-viewwidth-small-tablet-haspointer-true-android-chromium-light-1-snap.png
Labels: ci:cherry-pick:patch
